HEADER
{
    width:0px;
}
HTML
{
    overflow-x: auto;
}
BODY
{
    background: #111111;
    font-size: 13px;
    color: #000000;
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
}
H1
{
    font-size: 11px;
    color: #000000;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
}
H2
{
    font-size: 11px;
    color: #000000;
    font-family: "Century Gothic", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.ui-dialog-title
{
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.ui-button
{
    width: 80px;
    height: 28px;
}
.ui-button-text
{
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#Screen
{
    margin: -8px;
    position: absolute;
    width: 100%;
    background: #1f2327;
    height: 100%;
}
#Login
{
    background: #101417;
    margin: -8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
#LoginPane
{
    position: relative;
    display: block;
    background-image: url(../images/LoginPanel.png);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 826px;
    width: 826px;
    height: 593px;
    top: -386px;
    left: -413px;
}
#LoginMiddle
{
    position: absolute;
    top: 50%;
    left:50%;
}
#LoginLogo
{
    position: relative;
    width: 196px;
    height: 42px;
    background-image: url(../images/qualcomm_logo.png);
    margin-left: 36px;
    position: relative;
    left: 0px;
    top: 32px;
    background-repeat: no-repeat;
}
#Wizard
{
    background: #101417;
    margin: -8px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#WizardPane
{
    position: relative;
    display: block;
    background-image: url(../images/LoginPanel.png);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 826px;
    width: 826px;
    height: 593px;
    top: -286px;
    left: -413px;
}
#WizardMiddle
{
    position: absolute;
    top: 50%;
    left:50%;
}
#WizardLogo
{
    position: relative;
    display: inline-table;
    width: 196px;
    height: 42px;
    background-image: url(../images/nh2-logo.png);
    margin-left: 36px;
    position: relative;
    left: 0px;
    top: 32px;
}
.Left
{
    height: 100%;
    min-width: 350px;
    max-width: 350px;
    position: relative;
    display: inline-table;
    margin-left: 0;
    margin-top: 0;
    margin-right: -4px
    position: absolute;
    left: 0px;
    top: 0px;
}
.Right
{
    height: 100%;
    position: relative;
    display: inline-table;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    left: 350px;
    padding-right: 32px;
}
.TopLeft
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-topleft.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 79px;
    width: 100%;
}
.LeftMenu
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-leftmenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 79px;
    width: 100%;
}
.BottomLeft
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-bottomleft.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 1024px;
    width: 100%;
}
.ButtonBox
{
    position: relative;
    display: none;
    /*background-image: url(../images/PoweredBy.png);*/
    background-repeat: no-repeat;
    height: 90px;
    width: 244px;
    margin-left: 95px;
    float: left;
    margin-top: 760px;
    z-index: 75002;
}

.LogoLeft
{
    position: relative;
    display: block;
    background-repeat: no-repeat;
    height: 90px;
    width: 244px;
    margin-left: 60px;
    float: left;
    margin-top: 750px;
    z-index: 65535;
}

.TopRight
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-topright.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 79px;
    width: 100%;
    padding-right: 32px;
}
.RightMenu
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-rightmenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 80px;
    width: 100%;
    z-index:100;
    margin-top:-1px;
    padding-right: 32px;
}
.BottomlRight
{
    position: relative;
    display: block;
    background-image: url(../images/nhii-bottomright.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: auto;
    min-height: 1024px;
    width: 100%;
    z-index: 75001;
    padding-right: 32px;
}
.KillerLogo
{
    position: relative;
    /*[disabled]display:inline-table;*/
    width: 320px;
    height: 69px;
    background-image: url(../images/qualcomm_logo.png);
    margin-left: 20px;
    position: relative;
    left: 0px;
    top: 5px;
}
.SavePanel
{
    float: left;
    position: absolute;
    width: 250px;
    height: 64px;
/*background-color:Lime;*/
    top: 400px;
    left: 8px;
    bottom: 8px;
    vertical-align: bottom;
    z-index: 5;
}
.PageStyle
{
    padding: 30px;
    height: 100%;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    display: block;
}
.SubMenuTitle
{
    position: relative;
    display: inline;
    height: 100%;
    top: 30px;
    padding-left: 30px;
    font-size: 14px;
    color:#63adcd;
    float:left;
}
.SubMenuTab
{
    position: relative;
    display: inline;
    height: 100%;
    padding-left: 30px;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    z-index: 1;
}
.input
{
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
}
.ui-button
{
    margin-left: -1px;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    margin-bottom: 12px;
}
.ui-button-icon-only .ui-button-text
{
    padding: 0.35em;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
}
.ui-autocomplete-input
{
    margin: 0;
    padding: 0.48em 0 0.47em 0.45em;
    display: inline;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    width: 368px;
    z-index: 65535;
}
.ui-menu-item
{
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
}
#ThisIsBS
{
    position: relative;
    background: #333333;
}
#AdminPanel
{
    height: 100%;
    position: relative;
    color: #000000;
    padding: 4px;
    width: auto;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    overflow: hidden;
    margin-top: 20px;
    xbackground: #000020;
    z-index: 1;
}
.adminline
{
    width: 100%;
    height: 42px;
    xbackground: #404040;
}
.adminlabel
{
    position: relative;
    display: inline-table;
    top: 0px;
    width: 180px;
    left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    height: 24px;
    xbackground: #400000;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
}
.adminlabelBig
{
    position: relative;
    display: inline-table;
    top: 0px;
    width: 180px;
    left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    height: 24px;
    xbackground: #400000;
    margin-bottom: 24px;
    margin-top: 2px;
    padding: 5px;
}
#admin_service_type
{
    position: relative;
    display: inline-table;
    width: 400px;
    text-align: left;
    left: 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
}
.admincontrol
{
    position: relative;
    display: inline-table;
    top: 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    left: 10px;
    xbackground: #004000;
    margin-bottom: 12px;
}
.admincombo
{
    width: 400px;
    text-align: left;
    left: 0px;
}
.admincheckbox
{
    position: relative;
    padding: 0px;
    display: inline-table;
    left: 0px;
    top: 0px;
}
.admincontrollabel
{
    position: relative;
    padding: 0px;
    display: inline-table;
    top: 0px;
    left: 8px;
    margin-bottom: 12px;
    margin-top: 2px;
}
.admintext
{
    position: relative;
    padding: 0px;
    display: inline-table;
    top: 0px;
    left: 0px;
    color: #000000;
}
.adminbutton
{
    position: relative;
    display: inline-table;
    top: 0px;
    left: 0px;
    color: #000000;
}
.adminbutton2
{
    position: relative;
    display: inline-table;
    top: 0px;
    left: 8px;
    color: #000000;
}

body:nth-of-type(1) #clonebutton{top:-20px;}

 /*@-moz-document url-prefix() {
                       body:nth-of-type(1) #clonebutton{top:0px;}
                        }
                }
*/
.admin_footer
{
    margin-top: 100px;
    padding-top: 8px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #C0C0C0;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
}
.admin_wireless_tab
{
    height: 100%;
    position: relative;
    color: #000000;
    padding: 4px;
    width: auto;
    font-family: "Century Gothic", sans-serif;
    font-size: 11px;
    overflow-x: hidden;
    margin-top: 20px;
    xbackground: #000020;
}

#dgRoundBox
{
    position: relative;
    /*background: #888888;*/
    color: #000000;
    padding: 4px;
    width: auto;
    overflow-y: hidden;
    font-size: 11px;
    overflow-x: hidden;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: 600px;
    display: block;
    padding: 20px;

    clear: right;
    border: 2px solid #555;
    margin-right: 15px;
    margin-left: 15px;
}
#dgScrollbox
{
    position: relative;
    /*background: #888888;*/
    color: #000000;
    padding: 4px;
    width: auto;
    overflow-y: scroll;
    font-size: 11px;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: 650px;
    height: 650px;
    display: block;
}

#dgButtonBox
{
    position: relative;
    display: block;
    padding-top: 16px;
}

#DiagnosticsModule
{
    height: 100%;
    min-height: 800px;
}
.loginline
{
    width: 100%;
    height: 42px;
    xbackground: #404040;
}
.loginlabel
{
    position: relative;
    display: inline-table;
    top: 0px;
    width: 26%;
    left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    height: 40px;
    text-align: right;
    color: #ffffff;
}

.logincontrol
{
    position: relative;
    display: inline-table;
    top: 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    left: 10px;
    margin-left: 120px;
    height:40px;
    xbackground: #004000;
}

.loginbutton
{
    position:relative;
}

.loginbutton a
{
    margin-left: 690px;
    font-size: 18px;
    color: ##007C9B;
    border:none;
    text-decoration:none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.loginbutton a:hover
{
    margin-left: 690px;
    font-size: 18px;
    color: white;
    border: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: gray;
}


.wizardline
{
    width: 100%;
    height: 42px;
    xbackground: #404040;
    display: inline-table;
}
.wizardlabel
{
    position: relative;
    display: inline-table;
    top: 0px;
    width: 26%;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    height: 42px;
    text-align: right;
    /*color: #63ADCD;*/
    color: #FFFFFF;
    /*min-height: 150px;*/
    /*height: 250px;*/
    margin-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.wizardcontrol
{
    position: relative;
    display: inline-table;
    top: 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    left: 10px;
    margin-left: 120px;
    height:40px;
    xbackground: #004000;
    -webkit-user-select: none;
    -moz-user-select: none;
}


#wzRoundBox
{
    position: relative;
    /*background: #1f2327;*/
    color: #FFFFFF;
    padding: 4px;
    width: auto;
    overflow-y: hidden;
    font-size: 11px;
    overflow-x: hidden;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: 100px;
    display: inline-table;
    padding: 20px;
}
#wzScrollbox
{
    position: relative;
    display: inline-block;
    color: black;
    width: 60%;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    /*min-height: 300px;*/
    height: 330px;
    margin-left: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 65px;
    margin-bottom: 20px;
    /*background-color: #1F2327;*/
    top:10px;
    border-width: 1px;
    border-style: solid;
}

#wzButtonBox
{
    position: relative;
    display: inline-table;
    padding-top: 16px;
}

.wzItem
{
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    background: none;
    font-size: 11px;
    color: lightgray;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.wzItem_Current
{
    display: block;
    position: relative;
    width: 100%;
    height: 35px;
    background: none;
    font-size: 15px;
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background: url(../images/modulebutton.png);
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#wzDisplay
{
    display: inline-table;
    position: relative;
    width: 74%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.graphcombo
{
    width:100px;
}

.hTitle
{
    font-size: 24px;
    line-height: 36px;
    color: #0069D6;
    font-weight: bold;
}


/* For the top-by-time d3 graph */
.chartTitle
{
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.chartOptions {
    margin-left: 820px;
}

#chart_div_withoptions {
  width: 840px;
  top:-60px;
  min-height: 480px;
}

#chart_div {
  width: 640px;
  min-height: 480px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.fxDisplay {
    min-width:800px;
    height:100%;
    margin-top:25px;
}

/* these are for the node selection boxes and parts --jsl */
.nodeselHeader {
    margin-top:10px;
    margin-right: 15px;
    margin-left: 15px;
    background-color:#808080;
    height:24px;
}

.nodeselComboSpan {
    float:right;
    vertical-align:middle;
    margin-right:10px;
    height:16px;
}

.nodeselSelect {
    margin-top:2px;
    height:16px;
    font-size:12px;
}

.ie10 .nodeselSelect
{
    padding-top:1px;
    padding-bottom:1px;
    height:20px;
}

/* these are for the priority node box --jsl */
.priorityHeaderLine {
    margin-right: 15px;
    margin-left: 15px;
    background-color:#60C0FF;
    height:24px;
}
.priorityBox {
    clear: right;
    border: 2px solid #60C0FF;
    margin-right: 15px;
    margin-left: 15px;
    height:72px;
}
.priorityText {
    display:inline;
    margin-left:10px;
    margin-right:10px;
    font-size: 12px;
}

.Help {
    background-image: url(../images/nhii-help.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    float: right;
    height: 97%;
    width: 400px;
    z-index: 75555;
    position: absolute;
    right: 0;
    top: 155px;
    margin-right: -8px;
    display:none;
}

.HelpButton {
    background-image: url("../images/helpbt_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height:32px;
    width:32px;
    position: absolute;
    right: 12px;
    top: 23px;
}

.HelpButtonSelect {
    background-image: url("../images/helpbt_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height:32px;
    width:32px;
    position: absolute;
    right: 12px;
    top: 23px;
}

.HelpButton:hover {
    background-image: url("../images/helpbt_orange.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height:32px;
    width:32px;
    position: absolute;
    right: 12px;
    top: 23px;
    cursor: pointer;
    cursor: hand;
}
.HelpButtonSelect:hover {
    background-image: url("../images/helpbt_orange.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height:32px;
    width:32px;
    position: absolute;
    right: 12px;
    top: 23px;
    cursor: pointer;
    cursor: hand;
}

.HelpPane {
    position: relative;
    background: white;
    height: 79%;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    overflow-y: scroll;
    padding-left: 5px;
}

.HelpHover {
    position: absolute;
    top: 23px;
    right: 50px;
    color: black;
    background: white;
    padding: 5px;
    border-color: dimGray;
    border-width: 1px;
    border-style: solid;
    display:none;
    border-radius: 8px;
}

.inpageError {
    margin-top:25px;
    text-align: center;
}