body{background-color: #e5e5e5; width: 660px;}
#form{ width: 802px; height: 480px; position: absolute; top: 0px; left: 0px;}

.adv_icon{float:left; margin-left: 5px; width: 328px; height: 256px; background:url(../image/adv_home_icon.gif)  no-repeat 0 -34px;overflow:hidden; border-radius:8px;-moz-border-radius: 8px; -webkit-border-radius: 8px;}
.adv_icon .icon_status_info{width:100%; height: 190px; position: relative; overflow-x:hidden; overflow-y:auto;}
.adv_icon .title{ width: 328px; height: 34px; background:url(../image/adv_home_icon.gif) no-repeat 0 0;}
.adv_icon .title img{margin: 7px 4px auto 4px; float:left;}
.adv_icon .title b{position:relative;float:left;width:260px; top: 8px; font-family: Arial; font-size: 14px; color: #e5e5e5; text-decoration: underline;}

.adv_icon .title_doubleline { width: 328px; height: 34px;background:url(../image/adv_home_icon.gif) no-repeat 0 0;}
.adv_icon .title_doubleline img {margin: 7px 4px auto 4px; float:left;}
.adv_icon .title_doubleline b{position:relative;float:left;width:260px; top: 8px; font-family: Arial; font-size: 14px; color: #e5e5e5; text-decoration: underline;}
.icon_table{ table-layout:fixed; word-wrap:break-word; }
.adv_icon tr td{font:12px arial; color: #404040; line-height: 13px;}
.adv_icon tr td b{font: bold 12px arial; position:relative; left: 5px; line-height: 13px;}
.adv_icon img{margin-top:2px; margin-bottom: 2px;}
.img_status_good{position:relative;float:left;margin: 7px 4px auto 4px;width:22px; height:20px;background:url(../image/advanced_homes.gif) no-repeat -48px -290px}
.img_status_warning{position:relative;float:left;margin: 7px 4px auto 3px;width:24px; height:19px;background:url(../image/advanced_homes.gif) no-repeat 0 -290px}
.img_status_error{position:relative;float:left;margin: 7px 4px auto 3px;width:24px; height:23px;background:url(../image/advanced_homes.gif) no-repeat -24px -290px}

.advanced_icon_line{position:relative;float:left;font-size:0px;overflow:hidden;line-height:1px;margin-top:2px; margin-bottom: 2px;height:1px;width:322px;background:#cdcdcd repeat-x;zoom:1;}
.advanced_page_line{position:relative;float:left;font-size:0px;overflow:hidden;line-height:1px;margin-top:10px; margin-bottom: 10px;height:1px;width:665px;background:#b2b2b2 repeat-x}
.adv_icon .info_div{width: 100%; height:178px;}
.adv_icon .multipppoe_info_div {width: 100%; height:178px;overflow-x:hidden;overflow-y:auto;}

.button_div{position:absolute; margin-left: 4px; width: 320px; height:40px; top:225px;}
.button{position:relative; top: 9px; float: left; width:180px; height:22px; text-align: center; background:url(../image/buttons.gif)  no-repeat -128px -44px; cursor:pointer; color:#ffffff; font-family: Arial; font-weight: Bold; font-size: 12px;}
#disconnect{ position:relative; left: 7px; }
#show_statictics {position:relative; left: 17px; }
#disconeect_wifi {position:relative; left: 100px; }
.reboot_div{ position:absolute; width:328px; height: 40px;top:220px; }
.reboot{ position: relative; margin: 9px 57px; width: 180px; height: 22px; background:url(../image/buttons.gif)  no-repeat -128px -44px; color: #f2f2f2; font-family: Arial; font-weight: Bold; font-size: 12px; text-align: center; line-height: 22px; background-color: transparent; border: none; cursor: pointer; padding-bottom: 2px; left:15px;}
