#mainContent_div { width:600px; margin:0 auto; }

#allBtns_div { width:40%; margin:20px auto;}

#btnsContainer_div { width:35%; float:right; }

.wizard_words_div .input_left_div { height:30px; width:46%; margin:0 0 5px 0; line-height:30px; float:left;}

.wizard_words_div .input_img_div, .wizard_words_div .input_ip_div { height:30px; width:50%; line-height:30px; margin:0 0 5px 4%; float:right; position:relative; }
