#btnsContainer_div1 { width:17%; float:left; }

#btnsContainer_div2 { width:45%; float:left; }

#allBtns_div { height:30px; line-height:30px; padding:0; margin:30px auto; width:65%; }

#center_buttons { width: 100%; height: 50px; text-align: center; }
.wizard_buttons_div { height:50px; width:90%; line-height:50px; padding:0; margin:50px auto; text-align: left;}
