html, body{ margin: 0; border:none; background-color:transparent; }
body{ background-image: url(../image/oneline.gif) 0 -80px ; background-repeat: repeat-x; overflow:hidden; }

#logo{ width: 533px; height: 43px; background: url(../image/tops.gif) no-repeat 0px -76px; position: absolute; left : 0px; top: 0px;}
#router_name{position:absolute; left: 0px; top: 42px; font-family: Arial; font-weight: Bold; color: #000000; text-align: left; }
#centria-router-name{position:absolute; left: 88px; top: 42px; font-family: Arial; color: #000000; text-align: left; }
#router-centria{ position:absolute; left: 0px; top: 42px; font-family:Arial; color: #000000; text-align: left; }
#labels{ position:absolute; left: 0px; top: 67px; height:30px; }
#labels #space_label{ width:3px; height:inherit; float:left; }

.label_click{width: auto; height: 30px; float:left; text-align: center; font-family: Arial; font-size: 17px; font-weight: Bold; margin-right: 3px; }
.label_unclick{ width: auto; height: 30px; float:left; text-align: center; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer; margin-right: 3px; }
.label_click b, .label_unclick b { line-height: 30px }
.label_click .label_left { width: 15px; height: 30px; background: url(../image/tops.gif) no-repeat 0 -23px; float: left; position: relative }
.label_click .label_middle { width: auto; height: 30px; background: url(../image/tops.gif) no-repeat -5px -23px; float: left; position: relative }
.label_click .label_right { width: 15px; height: 30px; background: url(../image/tops.gif) no-repeat -210px -23px;  float: left; position: relative }
.label_unclick .label_left { width: 15px; height: 30px; background: url(../image/tops.gif) no-repeat -225px -23px; float: left; position: relative }
.label_unclick .label_middle { width: auto; height: 30px; background: url(../image/tops.gif) no-repeat -230px -23px; float: left; position: relative }
.label_unclick .label_right { width: 15px; height: 30px; background: url(../image/tops.gif) no-repeat -435px -23px;  float: left; position: relative }

.logout_bt{right:0px; top:3px; width: 110px; height: 22px; position:absolute; background: url(../image/tops.gif) no-repeat 0 -54px;  font-family: Arial; font-size: 14px; text-align: center; color: #ffffff; cursor: pointer; line-height: 22px; }

#firm_version{ position:absolute; right: 0px; top: 25px; font-family: Arial; font-size: 14px; font-weight: Bold; color: #000000; text-align: right; }
#update_info { height: 23px;  position: absolute; font-family: Arial; font-style: italic; font-size: 12px; color: #ffffff; cursor: pointer; display: none; left: 270px; line-height: 23px;}
#update_info_left { height: 23px; width: 24px; background: url(../image/tops.gif) no-repeat 0 0; position: relative; float: left; }
#update_info_middle{ height: 23px; width: auto; background: url(../image/tops.gif) no-repeat -23px 0; position: relative; float: left; }
.update_info_down { top: 70px;  }
.update_info_up { top: 42px; }
#update_info_right{ height: 23px; width: 10px; background: url(../image/tops.gif) no-repeat -440px 0; position: relative; float: left; }
#select_language{ width: 181px; height: 22px; position:absolute; right: 0px; top: 70px; text-align: right; }
#select_language #language{height: 22px; text-align: left;}

.strength_bar{position:absolute;left:850px; top:30px}
#signal_strength1{ width: 65px; height: 55px; background: url(../image/mobile_internet.gif) no-repeat 0 -384px;}
#signal_strength2{ width: 65px; height: 55px; background: url(../image/mobile_internet.gif) no-repeat -65px -384px;}
#signal_strength3{ width: 65px; height: 55px; background: url(../image/mobile_internet.gif) no-repeat -130px -384px;}
#signal_strength4{ width: 65px; height: 55px; background: url(../image/mobile_internet.gif) no-repeat -195px -384px;}
#signal_strength5{ width: 65px; height: 55px; background: url(../image/mobile_internet.gif) no-repeat -260px -384px;}
