HOST_NAME=\"R7800\"

# 0: Use EOF to find the file end
# 1: use ftell() to get file length, then read file from 0 to max size.
EMPTY_FILE_CHECK=0

#top page before hardware version show "CENTRIA"
TOP_CENTRIA=0

#The router's wan side interface name.
NET_IFNAME=\"brwan\"
LAN_WIRED_IFNAME=\"ethlan\"
IPv6_LAN_IFNAME=\"br0\"
WLAN24_IFNAME=\"ath1\"
WLAN5_IFNAME=\"ath0\"
WLAN24Gus1_IFNAME=\"ath11\"
WLAN5Gus1_IFNAME=\"ath01\"

CTL_MOD=\"r7800\"
SMARTAGENT_VERSION=\"3.0\"
SPEC_VERSION=\"1.6\"
FIREWALL_INFO=\"net-wall\ 2.0\"
VPN_INFO0=\"PPP\ 2.4.3\"
ROUTER_TYPE=\"Nighthawk\(R\)\ X4S\ \"
#bug 21189:change the "wnr2200" to "WNR2200" in the site of web page 
TITLE_NAME=\"R7800\"
#the maximum value of Uplink bandwidth
MAX_BANDWIDTH=1000

# ip path , for command "ip -6 neigh show"
IP_PATH=\"ip\"

#external detwan path
USE_EXTERNAL_DETWAN=1
DETWAN_PATH=\"/usr/sbin/detwan\"

#-------------internet setup----------------#
HAVE_L2TP=1
HAVE_BIGPOND=0
HAVE_PPPOE_MAC=1
#russian pptp
RUSSIAN_PPTP=1
#russian pppoe
RUSSIAN_PPPOE=0
#russian dual ip address
HAVE_DUAL_IP=0
# russian third DNS
HAVE_THIRD_DNS=1
#russian pppoe-wl-intranet
PPPOE_INTRANET=1
#support Automatic Internet reconnect for GR market
HAVE_AUTO_CONN_RESET=1



#-------------wireless setting-------------#
MODE_1=\"54\"
MODE_2=\"347\"
MODE_3=\"800\"
AN_MODE_1=\"347\"
AN_MODE_2=\"800\"
AN_MODE_3=\"1733\"
#wireless page: WPA/WPA2 Enterprise
HAVE_ENTERPRISE=1

#(5GHz a/n)
HAVE_WIRELESS_AN=1

#5GHz a/n/ac
HAVE_WIRELESS_AC=1

#Guest Network
HAVE_GUEST_NETWORK=1

#Guest Network Schedule
GUEST_NETWORK_SCHEDULE=1

#Wireless Repeating Function
HAVE_WDS=0
#add ap mode function
HAVE_AP_MODE=0
AP_MODE_DETECTION=1
#REMOVE_CD_LESS_DET_AP=1
#DFS channel
DFS_CHANNEL=0
DFS_CANADA=0
DFS_EUROPE=1
DFS_AUSTRALIA=0
DFS_JAPAN=1
DFS_RUSSIA=1
DFS_KOREA=1
#Mode: value =1, Mode is 300Mbps, value = 0 Mode is 150Mbps
MODE_IS_300_OR_150=1
#bug 16400: add a checkbox Enable Video Network
HAVE_VIDEO_NETWOR=0
#bug[16386]:[NETGEAR]add "Transmit Power Control" in the advanced
HAVE_TRANSMIT_POWER_CONTROL=1
#bug 19699: add a checkbox Enable Wireless Isolation
HAVE_WIRE_ISO=1
#support schedule wifi on/off
HAVE_WIRELESS_SCHEDULE=1
#support transmit power control display 63% and 33%
TXCTL_63_33=0

#------------------- wan setup --------------#
HAVE_VPN=1
HAVE_PPTP_VPN=0
#igmp
HAVE_IGMP=1
#bug 24622:Bridge IPTV
HAVE_BRIDGE_IPTV=0

#--------------------------------------------#

CD_LESS=1
CD_LESS_DOWNLOAD=1

HAVE_USB_STORAGE=1
READYSHARE_REMOTE=0
READYSHARE_PRINT=1
HAVE_VAULT=1
READYCLOUD=1
GENIECLOUD=1


HAVE_QOS=1
HAVE_ADVANCED_QOS=0
#use command bing to get QoS uprate. 1:bing, 0:band-check
QOS_CMD_BING=0

#support green download ( this is working, when HAVE_USB_STORAGE == 1
GREEN_DOWNLOAD=1

#bug 32213BRIC spec: support Fast Lane (Turbo Video)
HAVE_FAST_LANE=0

#According to Spec 2.0 Page 35, for some application the port of TCP and UDP is different, use one rule can not contain all correct port of TCP and UDP.
#If use new design of QOS, set 1, and must modify qos_dft_list* in datalib to make each application/online-game have two rules([TCP & UDP] or [TCP/UDP & 0]);
#* If use old design of QOS, set 0, and make sure each application/online-game only have one rules in datalib.
QOS_SPEC_2_0=1

HAVE_IPv6=1
IPv6_6RD=1
ENV_IPv6_DNS_MANUAL=1
IPv6_DNS_MANUAL=1

HAVE_TRAFFIC_METER=1

#Block Sites
HAVE_BLOCK_SITES=1

HAVE_TR069=0

HAVE_PLC=0

VC_RELEASE=0

#check opensource ID, hardware number, magic number 
OPEN_SOURCE_CHECK=0

#Iplement open source fw upgrade
HAVE_OPEN_SOURCE=0
OPEN_SOURCE_MODEL_ID=\"NETGEAR\"

#check new firmware information once a week 
FIRMWARE_CHECKING=1

HAVE_PIVOT_ROOT=1

#ParentalControl
DNI_PARENTAL_CTL=1

#Circle Parental Control
CIRCLE_PARENTAL_CTL=0

#DNS www.oray.cn 
DNS_ORAY=1
#spec1.9 bug[19691]: remove Use Wildcards option 
DNS_WILDCARDS=1

#SUPPORT HNAP
HNAP_ON=0

#pop-up thank_login window
HAVE_THANK_LOGIN=0

# add 7 checkbox in FW_log.htm 
HAVE_LOGS_CHECKBOX=1

#support TiVo GUI
HAVE_TIVO=1

# Bug 25266:All the 3 POT values MUST be displayed on the hidden page POT.htm
# 2 * flash block size
NTPST_POSTION=262144
# 2 * flash block size + flash page size
STAMAC_POSTION=264192
POT_MTD=\"/dev/mtd12\"
UBOOT_MTD=\"/dev/null\"

#-----------multi language------------------#
HAVE_MULTILANGUAGE=1
NEW_MULTIPLE_LANGUAGE_19=1

#language table flash partation
LANG_FLASH_PART=\"/dev/mtd10\"
# 10 * flash block size
LANG_FLASH_SIZE=2621440
LANG_COUNT=10
LANG_SIZE=262144
ERASE_SIZE=131072
REGION_SIZE=2
GZ_BALL_NAME_SIZE=21

DEFAULT_REGION=\"English\"
DEFAULT_LANGUAGE=\"/www/languages-en.js\"

#Writing Image mtd partation
IMAGE_MTD=\"/dev/mtd8\"
NANDWRITE=1

#-----------------mtd-write-size-----------------------#
BUFSIZE=2048

# Chinese  GUI
HAVE_PR=1
# Japanese GUI
HAVE_JP=1
# Korean GUI
HAVE_KO=1

#default English language : language-en.js
DEFAULT_ENG=1
#default German language : language-gr.js
DEFAULT_GR=1
#default Chinese language : language-pr.js
DEFAULT_PR=0
#default Russian language : language-ru.js
DEFAULT_RU=1
#default Portuguese language : language-pt.js 
DEFAULT_PT=1
#default Korean language : language-ko.js 
DEFAULT_KO=0
#-------------------------------------------#
#-----support the sector size is 4096-kbytes-----#
PARTITION_CAPACITY_VIA_DF=1
#-------------------------------------------------#
#-----support new wps ap pin requirement-------#
HAVE_PROTECT_PIN=1

#----post size,can't large than flash size----#
MAX_POST_SIZE=0x1E00000  #30MB

#--------not support 5g coexist----#
HAVE_AN_COEXIST=0

# define USE_MTD_UTIL as 1 if use common module mtd-util to take place artmtd
USE_MTD_UTIL=0

#Add "Enable 20/40 MHz Coexistence" in advanced wireless page
ADV_COEXISTENCE=0
BASIC_COEXISTENCE=1

#DNS www.3322.org
DNS_3322=1
#DNS dynupdate.no-ip.com
DNS_NO_IP=1

#Access Control feature
HAVE_ACCESS_CONTROL=1

#Access Control Schedule
ACCESS_CONTROL_SCHEDULE=0

#Access Control Support Group
ACCESS_CONTROL_GROUP=0

#NewPhysicalMemory for soap v1.16, number in MB
PHY_MEMORY=32
#NewPhysicalFlash for soap v1.16, number in MB
PHY_FLASH=128

SOLVE_SOAP_VULNERABILITY=1

SMART_NETWORK_SUPPORT=0
QOS_SPEEDTEST_LINK=1

NETGEAR_DDNS=1

# wifi bridge mode
HAVE_BRIDGE_MODE=0

# LED control setting in spec Rev12
LED_CONTROL_SETTING=1

HAVE_FB_WIFI=0

QTN_API_STATISTICS=0

HAVE_OOKLA_SPEEDTEST=1

OOKLA_SPEEDTEST_V2=1

HAVE_ITUNES=1

# SMTP port number support
HAVE_SMTP_PORT=1

HAVE_DYNA_QOS=1
HAVE_BROADBAND=0
HDD_MULTI_DEVICE=1
HAVE_TPR=1

#IP MAC bind
IP_MAC=1
HAVE_VLAN=1

#super wifi
SUPER_WIFI=0

GUEST_MANAGE=1
READYSHARE_MOBILE=0
SECOND_EMAIL_ADDR=0

SMTP_AUTO_DETECT=0

HAVE_DSL=0

HAVE_DEVICE_NAME=1

# router, ap, bridge, repeating mode
# OPERATION_MODES 0:not support this function, 1:support ap, 2:support bridge, 4:support repeating, 3:support ap+bridge, 5:support ap+repeating, 6:support bridge+repeating, 7:support ap+bridge+repeating
OPERATION_MODES=3

#support App System SOAP API
APP_SYSTEM=1

HAVE_DEBUG=1

SINGLE_FIRMWARE=1

#support both vlan and pppoe enabled
ENABLE_VLAN_PPPOE_SUPPORT=0

#Detect the available DFS channel
DFS_RADAR_DETECT=1

HAVE_BT_IGMP=1
#support Airtime Fairness
HAVE_AIRTIME_FAIRNESS=0
#hide 5HGz Fragmentation length checkbox
HAVE_FRAGMENT_AN=0
#openvpn for smart phone
HAVE_OPENVPN=1
SUPPORT_HT160=1
HAVE_MU_MIMO=1
FORWARD_RANGE=1
SOAP_SECURITY=1
HAVE_VPN_CLIENT=1
TNC_REQUEST=1
AUTO_UPGRADE=1
HAVE_SMART_CONNECT=1
