<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<% hijack_language() %>
</head>
<% wizlog_checkPing_ck02("1") %>
<body onLoad="loadvalue()">
<div class="wizard_content_div">

	<div class="wizard_words_div">
		
		<div class="waiting_connect_div" align="center">
			<h1>
				<script>document.write(bh_internet_checking);</script>
			</h1>
		</div>
		
		<div class="waiting_img_div" align="center">
			<img src="image/wait30.gif" />
		</div>
	
	</div>
</div>
</body>
<script>
var ap_mode = "<% cfg_get("ap_mode") %>";
function loadvalue()
{
		if(top.dsl_enable_flag == "1")
		{
			this.location.href="BRS_ISP_country_help.html";
		}else{
			if( top.apmode_flag == "1" && ap_mode == "1")
				this.location.href="BRS_05_networkIssue.html";
			else if((top.have_broadband == "1" && (top.is_ru_version == 1 || top.is_pr_version == 1)) || top.have_lte_flag == "1")
				this.location.href = "BRS_021_genieHelp.html";
			else if (top.is_ru_version == 1)
				this.location.href = "RU_welcome.htm";//33693
			else
				this.location.href = "BRS_02_genieHelp.html";
			
		}

}
</script>
</html>
