<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--<meta http-equiv="refresh" content="60; url=BRS_03A_detcInetType.html" />-->
<link rel="stylesheet" type="text/css" href="/style/hijack_style.css" />
<script language="javascript" type="text/javascript" src="/script/brs_hijack.js"></script>
<% hijack_language() %>
</head>
<body onLoad="loadvalue()">
<% form_submit("func", "BRS_03A_detcInetType_quickscan.html", "wizard_detquick")  %>
<script language="javascript" type="text/javascript">
var scan_result = "<% cat_file("/tmp/quick_scan_result") %>";
var ts="<% cfg_get("wizard_detwan") %>";
function loadvalue()
{
	cf = document.forms[0];
	var head_tag = document.getElementsByTagName("h1");
	
	var head_text = document.createTextNode(bh_detecting_connection);
	head_tag[0].appendChild(head_text);
	
	var paragraph = document.getElementsByTagName("p");
	
	var paragraph_text = document.createTextNode(bh_plz_wait_process);
	paragraph[0].appendChild(paragraph_text);
	

	//show Fireware Version
	showFirmVersion("none");

	
	if(scan_result == "1"){
		cf.submit();
	}
	else if(scan_result == "0" || scan_result == "")
	{	
		this.location.href = "BRS_03A_detcInetType_fullscan.html";
	}
}
</script>
<div class="wizard_content_div">

	<div class="wizard_words_div">
		
			<h1><!--detecting_connection--></h1>
			<p><!--plz_wait_process--></p>
			<p><script>document.write("VDSL check");</script></p>
		
		<div class="waiting_img_div" align="center">
			<img src="image/wait30.gif" />
		</div>
		
	</div>
</div>
<!--<iframe name="check_frame" src="BRS_03A_hid_checking.html" allowtransparency="true" scrolling="no" frameborder="0" ></iframe>-->

</body>
</form>
</html>
