<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<link rel="stylesheet" type="text/css" href="style/hijack_03A_wanInput.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
</head>
<script>
var enable_vlan_id = "<% cfg_get("dsl_wan_enable_vlanidActive") %>";
var vlan_id = "<% cfg_get("dsl_wan_data_vid") %>";
var enable_iptv = "<% cfg_get("dsl_wan_video_enable") %>";
var display_iptv = "<% cfg_get("dsl_wan_video_vid") %>";
var display_iptv2 = "<% cfg_get("wan2_active") %>";
var wan2_bridge="<% cfg_get("dsl_wan2_bridge_mode") %>";
var lan_selecte="<% cfg_get("iptv_mask") %>";
var lan1_selecte=lan_selecte & 1;
var lan_ports_num = (typeof(top.lan_ports_num) == "undefined") ? 4 : top.lan_ports_num;
addLoadEvent(initPage);
function initPage()
{
	var forms = document.getElementsByTagName("form");
	var inputconnect = document.getElementById("inputconnect");
	inputconnect.onkeypress = ssidKeyCode;

	var input_onlnum = document.getElementById("input_onlnum");
	input_onlnum.onkeypress = ssidKeyCode;
	
	var inputsuffix = document.getElementById("inputsuffix");
	inputsuffix.onkeypress = ssidKeyCode;

	var passwd_input = document.getElementById("inputPasswd");
	passwd_input.onkeypress = ssidKeyCode;
        var cf = document.forms[0];
	cf.pppoe_suffix.value="";
	cf.pppoe_passwd.value="";	
	var btns_container_div = document.getElementById("btnsContainer_div");
	cf.use_vlanid.checked = true;
	cf.use_vlanid.disabled = true;
	cf.pppoe_vlanid.value=vlan_id;
	if(enable_iptv == "1")
			cf.use_iptv.checked = true;
	else
			cf.use_iptv.checked = false;
	if( master == "admin" )
	{
		btns_container_div.onclick = function()
		{
			return checkPPPoE();
		}
	}
	if(display_iptv2 == "1"){
		if(enable_iptv == "1")
			cf.use_iptv.checked = true;
		else
			cf.use_iptv.checked = false;
		if(wan2_bridge == "1" && lan_ports_num != 1 )
		{
			if((lan_selecte & 2) == 2)
				cf.lan2.checked = true;
			if((lan_selecte & 4) == 4)
				cf.lan3.checked = true;
			if((lan_selecte & 8) == 8)
				cf.lan4.checked = true;
			if(cf.lan2.checked == false && cf.lan3.checked== false && cf.lan4.checked== false)
			{
				cf.lan4.checked = true;
			}
			enable_bridge();
		}
	}
}
function checkPPPoE()
{
	var forms = document.getElementsByTagName("form");
    var cf = forms[0];
	var pppoe_passwd = document.getElementById("inputPasswd");
	var i;
	for(i=0;i<pppoe_passwd.value.length;i++)
	{
		if(isValidChar(pppoe_passwd.value.charCodeAt(i))==false)
		{
			alert(bh_password_error);
			return false;
		}
	}
	if(cf.use_vlanid.checked == true)
		cf.hid_use_vlanid.value = "1";
	else
		cf.hid_use_vlanid.value = "0";
	if(cf.use_iptv.checked == true){
		if(wan2_bridge == "1"){
			if((cf.lan2.checked == false) && (cf.lan3.checked == false) && (cf.lan4.checked == false) && (lan_ports_num != 1))
			{
				alert(dsl_bridge_warning);
				return false;
			}
			var lan_num = 0;
			if(cf.lan2.checked == true)
			lan_num = lan_num+2;
			if(cf.lan3.checked == true)
			lan_num = lan_num+4;
			if(cf.lan4.checked == true)
			lan_num = lan_num+8;
			cf.hid_lan_num.value = lan_num | lan1_selecte;
		}else
			cf.hid_lan_num.value = lan_selecte;
		cf.hid_use_iptv.value = "1";
	}
	else{
			cf.hid_use_iptv.value = "0";
			cf.hid_lan_num.value = lan_selecte;
		}
	cf.hid_username.value=cf.connection_name.value+cf.pppoe_onlnum.value + cf.pppoe_suffix.value+"@t-online.de";
	var name = cf.connection_name.value+cf.pppoe_onlnum.value + cf.pppoe_suffix.value;
	if(cf.name.value == "")
	{
		alert(bh_login_name_null);
		return false;
	}
	cf.submit();
	return true;
}
function enable_vlanid()
{
	var cf = document.forms[0];
	if(!cf.use_vlanid.checked)
	{
		cf.pppoe_vlanid.disabled = true;
	}
	else
	{
		cf.pppoe_vlanid.disabled = false;
	}
}
function enable_bridge()
{
	var cf = document.forms[0];
	if(cf.use_iptv.checked == true)
	{
		cf.lan2.disabled = false;
		cf.lan3.disabled = false;
		cf.lan4.disabled = false;
	}else
	{
		cf.lan2.disabled = true;
		cf.lan3.disabled = true;
		cf.lan4.disabled = true;
	}
}
</script>
<body>
<% form_submit("apply", "BRS_04_applySettings.html", "hijack_pppoe_germany") %>
<style type="text/css">
.wizard_content_div{ margin:0;  overflow:auto; height:99%; position:absolute;}
</style>
<input type="hidden" name="WANAssign" value="0" />
<input type="hidden" name="hid_use_vlanid" />
<input type="hidden" name="hid_use_iptv" />
<input type="hidden" name="hid_username" />
<input type="hidden" name="hid_lan_num" />
<div class="wizard_gcontent_div">

	<div class="wizard_words_div">
		
			<h1><script>document.write(bh_pppoe_connection)</script></h1>
			<p><script>document.write(bh_enter_info_below)</script></p>
			
			<div class="wanInput_content_div">
				
				<div id="connection_identi" class="wanInput_left_div" align="left">
					<script>document.write(bh_pppoe_identi)</script>
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<input type="text" id="inputconnect" maxlength="64" align="right" name="connection_name" />
				</div>
				
				<div id="online_num" class="wanInput_left_div" align="left">
					<script>document.write(bh_pppoe_online)</script>
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<input type="text" id="input_onlnum" maxlength="16" align="right" name="pppoe_onlnum" />
				</div>
				<div id="suffix" class="wanInput_left_div" align="left">
					<script>document.write(bh_pppoe_suffix)</script>
				</div>
				<div class="wanInput_Imgsw_div">
					<div class="wanInput_Imgs_div">
						<img src="image/ca_text_pic.gif" />
						<input type="text" id="inputsuffix" maxlength="64" align="right" name="pppoe_suffix" autocomplete="off" />
						
					</div>
					<div id="online" class="wanInput_left_divs" align="left" >
						<script>document.write("@t-online.de")</script>
					</div>
				</div>
				<div id="passwd" class="wanInput_left_div" align="left">
					<script>document.write(bh_ddns_passwd)</script>
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<input type="password" id="inputPasswd" maxlength="16" align="right" name="pppoe_passwd" autocomplete="off" />
				</div>
				<div id="vlanid" class="wanInput_left_div" align="left">
					<input type="checkbox" name="use_vlanid" value="1" onclick="enable_vlanid()">
					<script>document.write(bh_use_vlanid)</script>
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<input type="text" id="inputvlanid" maxlength="16" align="right" name="pppoe_vlanid" />
				</div>
				<div id="iptv" class="wanInput_left_divip" align="left">
					<input type="checkbox" name="use_iptv" value="1" onclick="enable_bridge();">
					<script>document.write(bh_eanble_iptv)</script>
					<br>
					<p id="bridge"><script>document.write(bh_dsl_bridge)</script></p>
					<div id="bridge1" class="iptvdoc"><script>document.write(bh_dsl_bridge_con);</script></div>
					<div id="bridge2" class="iptvdoc2">
					<input type="checkbox" name="lan4" value="8"><script>document.write(bh_dsl_bridge_lan4)</script>
					<br>
					<input type="checkbox" name="lan3" value="4"><script>document.write(bh_dsl_bridge_lan3)</script>
					<br>
					<input type="checkbox" name="lan2" value="2"><script>document.write(bh_dsl_bridge_lan2)</script>
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
		
	</div>
	
	<div id="allBtns_div" class="wizard_buttons_div" align="right">
		<div id="btnsContainer_div" class="buttons_img_div">
			<script>
			var master="<% cfg_get("http_loginname") %>";
			if( master == "admin" )
				document.write('<img src="image/ca-little-purple-button.gif" />');
			else
				document.write('<img src="image/ca-little-grey-button.png" />');
			</script>
			<div id="btn_text_div" class="buttons_words_div" align="center"><script>document.write(bh_next_mark)</script></div>
		</div>	
	</div>
	

</div>

</form>
<script>
	control_display("dsl_pppoe");
</script>
</body>

</html>
