<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<link rel="stylesheet" type="text/css" href="style/hijack_03A_C_pptp_reenter.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_genie_03A_C_pptp_reenter.js"></script>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
<script>
var hijack_process="<% cfg_get("hijack_process") %>";
var master="<% cfg_get("http_loginname") %>";
</script>

</head>

<body>
<% form_submit("apply", "BRS_log12_incorrect_try_again.html", "hijack_pptp") %>
<!--bug 22145 add hijack_toBasic-->
<% save_timestamp("hijack_pptp", "hijack_toBasic") %>
<script language="javascript" type="text/javascript">var ts="<% cfg_get("hijack_toBasic") %>";</script>

<input type="hidden" name="WANAssign" value="0" />
<input type="hidden" name="pptp_subnet" value="" />
<input type="hidden" name="ip_address" value="" />
<input type="hidden" name="gateway" value="" />

<div class="wizard_content_div">

	<div class="wizard_words_div">
		
			<h1 class="h1_red"><!--pppoe_connection--></h1>
			<p><!--enter_info_below--></p>
			
			<div class="mainContent_div">
				
				<div id="loginName" class="input_left_div" align="right">
					<!--pppoe_login_name-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" id="pptp_username" align="right" maxlength="60" name="pptp_username" class="input_text" />
				</div>
				
				<div id="passwd" class="input_left_div" align="right">
					<!--ddns_passwd-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="password" id="pptp_passwd" align="right" maxlength="16" name="pptp_passwd" class="input_text" />
				</div>

				<div id="idleTimeout" class="input_left_div" align="right">
					<!--basic_pppoe_idle-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" align="right" id="pptp_idletime" maxlength="5" name="pptp_idletime" class="input_text" value="5"/>
				</div>
				
				<div id="IP_addr" class="input_left_div" align="right">
					<!--info_mark_ip-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" name="myip_1" id="myip1" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="myip_2" id="myip2" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="myip_3" id="myip3" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="myip_4" id="myip4" size="3" maxlength="3" onKeyPress="return getkey('num',event)">
				</div>
				
				<div id="serverIP" class="input_left_div" align="right">
					<!--basic_pptp_servip-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" align="right" id="pptp_serv_ip" name="pptp_serv_ip" class="input_text" />
				</div>
				
				<div id="GatewayAddr" class="input_left_div" align="right">
					<!--constatus_defgtw-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" name="mygw_1" id="mygw1" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="mygw_2" id="mygw2" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="mygw_3" id="mygw3" size="3" maxlength="3" onKeyPress="return getkey('num',event)">.
					<input type="text" name="mygw_4" id="mygw4" size="3" maxlength="3" onKeyPress="return getkey('num',event)">
				</div>

				<div id="connectionID" class="input_left_div" align="right">
					<!--basic_pptp_connection_id-->
				</div>
				<div class="input_ip_div">
					<!--img src="image/ca_text_pic.gif" /-->
					<input type="text" align="right" id="inputConID" maxlength="63" name="connection_ID" class="input_text" />
				</div>
				
				<div style="clear:both"></div>
			</div>
		
	</div>
	
	<div id="allBtns_div" class="wizard_buttons_div" align="right">

		<div id="btnsContainer_div1" class="buttons_img_div" align="center">
			<input type="button" name="I want to configure the Internet connection myself" id="self_config" class="purple_long_btn"><!--manual_config_connection-->
		</div>
		<div id="btnsContainer_div2" class="buttons_img_div" align="center">
			<input type="button" name="Tryagain" id="again" class="purple_common_btn"><!--try_again-->
		</div>

	</div>
	

</div>

</form>
</body>

</html>
