<head>
<title>query</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Pragma" content="no-cache">
<script type="text/javascript">

	var ping_res="<% hijack_apply_result("/tmp/ping_result") %>"
	var w_status="<% detwan_valid() %>";
	parent.wan_status = w_status;
	if(parent.charcount < parent.maxchars )
	{
		if(ping_res=="success" && parseInt(parent.charcount) > 5)
			  parent.ping_ok="success";
		else
			setTimeout("location.replace(location.href);", 1000);  
	}	  
  
</script>
</head>
<body>
</body>
</html>
