<% http_header("style/form.css", "/funcs.js", "add_download_item.js") %>
<body onLoad="loadvalue(); please_wait(false);" bgcolor=#ffffff>

<div id="page_title" class="page_title" style="display:none">$greendl_common_manager</div>
<div id="main" class="main" style="display:none">

<form method="POST" action='/apply.cgi?/GREEN_bt_basic.htm timestamp=<% hijack_get_timestamp("add_usb_bt_download_item") %>' target=formframe>
<input type=hidden name=submit_flag value="add_usb_bt_download_item">

<table width=100% border=0 cellpadding=0 cellspacing=2>
<tr>
        <td nowrap colspan=2 align=center>
	<div id="msg_line_1" class="msg_nousb" style="display:none"><b>$greendl_common_plug_usb</b></div>
	<div id="msg_line_2" class="msg_nousb" style="display:none"><b>$greendl_common_usb_removed</b></div>
	<div class="download_bts">
	<input class="common_gray_bt" type='button' name="Transmission" value='$transmission_mark';'>&nbsp;&nbsp;
	<input class="cancel_bt" type='button' name="Cancel" value='$cancel_mark' onClick='reset_form(); loadvalue();'>&nbsp;&nbsp;
	<input class="apply_bt" type='submit' name="Apply" value='$apply_mark' onclick='return enable_greendownload(document.forms[0],"bt");'>
	</td>
	</div>
</tr>
$bluebar
</table>
<% save_timestamp("add_usb_bt_download_item", "add_usb_bt_download_item_queuen", "add_download_item","enable_green_download", "pause_download", "refresh_download") %>
<% save_timestamp("add_usb_bt_download_item", "resume_download", "remove_download", "change_priority", "remove_history", "green_download_fail") %>
<% table_header() %>
<style>.new_form { padding: 0; margin: 0 ; position:relative; } </style>
<script>
<% usb_initTree() %>
<% change_folder_path() %>
var max_tasks_all=0;
if( "<% cfg_get("green_download_max_tasks_all") %>" != "" )
	max_tasks_all=parseInt("<% cfg_get("green_download_max_tasks_all") %>", 10);

var green_disk_lable = "<% cfg_get("green_disk_lable") %>";
var ts = "<% cfg_get("add_usb_bt_download_item") %>";
var greendl_open = 0;
var green_download_enable="<% cfg_get("green_download_enable") %>";
<% show_devices() %>
var file_num = 0;
var autorefresh_onoff="<% cfg_get("green_enable_autorefresh_status") %>";
var refresh_time="<% cfg_get("green_download_refresh_time")%>"; //Ex:refresh_time=5(Time/Minute), that is refresh page 5 per minute.
var delay_time=(1000*60)/refresh_time; //that is how long to refresh page once
<% list_download_item() %>
<% list_downloaded_file()%>
var lan_ip="<% cfg_sed_xss("lan_ipaddr") %>";
var samba_path="<% get_samba_path() %>";
var mlnet_error="<% get_dlclient_result() %>";
var max_concurrent_tasks="<% cfg_get("green_download_max_tasks_run") %>";
var fileTP_max_concurrent_tasks="<% cfg_get("green_download_fileTP_max_tasks") %>";
<% cfg_set("mlnet_error", "0") %>
<% config_commit() %>
var this_download_type = "bt";
<% green_download_changed() %>

function change_file_path(type)
{
	if( type == "0" )
	{
		document.forms[1].bt_location_type[0].checked = true;
		document.getElementById("pc").style.display="";
		document.getElementById("usb").style.display="none";
		document.getElementById("magnet").style.display="none";
	}
	else if( type == "1")
	{
		document.forms[0].bt_location_type_magnet[2].checked = true;
		document.getElementById("pc").style.display="none";
		document.getElementById("usb").style.display="none";
		document.getElementById("magnet").style.display="";
	}
	else
	{
		document.forms[0].bt_location_type_usb[1].checked = true;
		document.getElementById("pc").style.display="none";
		document.getElementById("usb").style.display="";
		document.getElementById("magnet").style.display="none";
	}
}
function add_BT()
{
	form = document.forms[1];
	var filestr = form.mtenFWUpload.value;

	var task_num_all = top.green_download_item_num;
	if( task_num_all >= max_tasks_all )
	{
		alert("$greendl_common_alert_maxtask");
		return false;
	}
	if( filestr == "" ){
		alert("$greendl_bt_alert_torrent");
		return false;
	}
	var file_format=filestr.substr(filestr.lastIndexOf(".")+1); 
	if(file_format.toUpperCase()!="TORRENT")
	{
		alert("$greendl_not_correct_file");
		return false;
	}

	top.download_type = this_download_type;
	return true;
}
function add_item()
{
	form = document.forms[0];
	var filestr = form.folder.value;

	var task_num_all = top.green_download_item_num;
	if( task_num_all >= max_tasks_all )
	{
		alert("$greendl_common_alert_maxtask");
		return false;
	}

	form.folder.value = form.folder.value.replace(/(^\s*)/g, "");
	form.folder.value = delete_end_space(form.folder.value);

	if( filestr == ""){
		alert("$greendl_bt_alert_torrent");
		return false;
	}
	var file_format = filestr.substr(filestr.lastIndexOf(".")+1);
	if(file_format.toUpperCase()!="TORRENT")
	{
		alert("$greendl_not_correct_file");
		return false;
	}

	var upfolder="\\.";
	if( form.folder.value.indexOf(upfolder) > -1 ){
		alert("$invalid_up_folderpath");
		return false;
	}

	var info=form.folder.value.replace(/\\/g,"\/").split(":");
	var device_lable=info[0].toUpperCase();

        for(i=0; i<sda_num; i++){
               var sda_str = eval('sda_U' + i);
               each_info = sda_str.split('*');
               if( device_lable == each_info[1] ){
                       info[0]=each_info[0];
               }
        }
        var str=""+info[0]+info[1]+"";

	form.usb_path.value = str;
	//form.submit_flag.value = "add_usb_bt_download_item";
	top.download_type = this_download_type;

	return true;
}

function add_magnet()
{
	form = document.forms[0];

	var magnet_url = form.magnet_url.value;
	var task_num_all = top.green_download_item_num;

	if( task_num_all >= max_tasks_all )
	{
		alert("$greendl_common_alert_maxtask");
		return false;
	}


	if(check_magnet(magnet_url))
		form.download_url.value = magnet_url;
	else
		return false;

	form.submit_flag.value = "add_download_item";
	top.download_type = this_download_type;
	return true;
}

function loadvalue()
{
	if(disk_num == 0)
	{
		if( green_download_changed == "1")
			document.getElementById("msg_line_2").style.display="";
		else
			document.getElementById("msg_line_1").style.display="";
	}
	form_1 = document.forms[0];
	form_2 = document.forms[1];
	var cf=document.forms[2];

	if( green_download_enable == "1")
		form_1.enable_green_download.checked = true;
	else
		form_1.enable_green_download.checked = false;

	if(disk_num==0)
	{
		form_1.Cancel.disabled = true;
		form_1.Apply.disabled = true;
		form_1.Cancel.className = "common_gray_bt";
		form_1.Apply.className = "common_gray_bt";
		document.getElementById("download_endis").style.color="gray";
		form_1.enable_green_download.disabled=true;
		document.getElementById("download_save_path").style.color="gray";
		form_1.green_link_basic.disabled=true;
		form_1.green_link_basic.className = "long_edit_gray_bt";
		document.getElementById("type").style.color="gray";
		document.getElementById("pc").style.color="gray";
		form_1.download_type_1.disabled=true;
		document.getElementsByName("bt_location_type")[0].disabled=true;
		document.getElementsByName("bt_location_type")[1].disabled=true;
		document.getElementsByName("bt_location_type")[2].disabled=true;
		form_2.magnet_url_pc.disabled=true;
		form_2.mtenFWUpload.disabled=true;
		form_1.Add.disabled=true;
		form_2.Add.disabled=true;
		form_1.reset.disabled=true;
		form_2.reset.disabled=true;
		form_1.Add.className = "add_gray_bt";
		form_2.Add.className = "add_gray_bt";
		form_1.reset.className = "long_delete_gray_bt";
		form_2.reset.className = "long_delete_gray_bt";
	}
	else if(disk_num !=0 && green_download_enable == "0")
	{
		form_1.Cancel.disabled = false;
		form_1.Apply.disabled = false;
		form_1.Cancel.className = "cancel_bt";
		form_1.Apply.className = "apply_bt";
		document.getElementById("download_endis").style.color="black";
		form_1.enable_green_download.disabled=false;
		document.getElementById("download_save_path").style.color="black";
		form_1.green_link_basic.disabled=false;
		form_1.green_link_basic.className = "long_edit_bt";
		document.getElementById("type").style.color="gray";
		document.getElementById("pc").style.color="gray";
		form_1.download_type_1.disabled=true;
		document.getElementsByName("bt_location_type")[0].disabled=true;
		document.getElementsByName("bt_location_type")[1].disabled=true;
		document.getElementsByName("bt_location_type")[2].disabled=true;
		form_2.magnet_url_pc.disabled=true;
		form_2.mtenFWUpload.disabled=true;
		form_1.Add.disabled=true;
		form_2.Add.disabled=true;
		form_1.reset.disabled=true;
		form_2.reset.disabled=true;
		form_1.Add.className = "add_gray_bt";
		form_2.Add.className = "add_gray_bt";
		form_1.reset.className = "long_delete_gray_bt";
		form_2.reset.className = "long_delete_gray_bt";
	}
	else
	{
		form_1.Cancel.disabled = false;
		form_1.Apply.disabled = false;
		form_1.Cancel.className = "cancel_bt";
		form_1.Apply.className = "apply_bt";
		document.getElementById("download_endis").style.color="black";
		form_1.enable_green_download.disabled=false;
		document.getElementById("download_save_path").style.color="black";
		form_1.green_link_basic.disabled=false;
		form_1.green_link_basic.className = "long_edit_bt";
		document.getElementById("type").style.color="black";
		document.getElementById("pc").style.color="black";
		form_1.download_type_1.disabled=false;
		document.getElementsByName("bt_location_type")[0].disabled=false;
		document.getElementsByName("bt_location_type")[1].disabled=false;
		document.getElementsByName("bt_location_type")[2].disabled=false;
		form_2.magnet_url_pc.disabled=false;
		form_2.mtenFWUpload.disabled=false;
		form_1.Add.disabled=false;
                form_2.Add.disabled=false;
                form_1.reset.disabled=false;
                form_2.reset.disabled=false;
                form_1.Add.className = "add_bt";
                form_2.Add.className = "add_bt";
                form_1.reset.className = "long_delete_bt";
                form_2.reset.className = "long_delete_bt";
		
	}

	if(disk_num == 0 || (disk_num !=0 && green_download_enable == "0"))
	{
		document.body.style.color="gray";
		cf.chbx_all_item.disabled=true;
		cf.start.disabled=true;
		cf.start.className = "common_gray_bt";
		cf.resume.disabled=true;
		cf.resume.className = "common_gray_bt";
		cf.pause.disabled=true;
		cf.pause.className = "common_gray_bt";
		cf.remove.disabled=true;
		cf.remove.className = "common_gray_bt";
		cf.rm_history.disabled=true;
		cf.rm_history.className = "common_big_gray_bt";
	}
	else
	{
		document.body.style.color="black";
		cf.chbx_all_item.disabled=false;
		cf.start.disabled=false;
		cf.start.className = "common_bt";
		cf.resume.disabled=false;
		cf.resume.className = "common_bt";
		cf.pause.disabled=false;
		cf.pause.className = "common_bt";
		cf.remove.disabled=false;
		cf.remove.className = "common_bt";
		cf.rm_history.disabled=false;
		cf.rm_history.className = "common_big_bt";
	}
	refresh_content();

	document.getElementById("pls_wait_div").style.display = "none";
	document.getElementById("page_title").style.display = "block";
	document.getElementById("main").style.display = "block";
	greenErrorHandling(cf);
}
function select_all_items()
{
	var cf = document.forms[2];
	var i=0;
	var objs = document.getElementsByName("chbx_item");
	for( i=0; i< objs.length; i++ )
	{
		if(cf.chbx_all_item.checked)
			objs[i].checked=true;
		else
			objs[i].checked=false;
	}
}
</script>
<input type=hidden name=download_type value="bt">
<input type=hidden name=usb_path>
<input type=hidden name=download_url>
<input type=hidden name=devicePath value="all">
<input type=hidden name=green_download_open_flag>
<tr id="download_endis">
	<td nowrap colspan=2>
		<input type="checkbox" name="enable_green_download"><b>$greendl_manager_enable</b>
	</td>
</tr>
<tr id="download_save_path">
	<td nowrap><b>$greendl_common_showSavedPath:&nbsp;</b>
		<script>
			if(disk_num != 0)
				document.write(green_disk_lable);
		</script>
	</td>
	<td nowrap align="center">
		<input class="long_edit_bt" type="button" name="green_link_basic" value="$greendl_manager_config_set_mark" onClick="redirect_config_download();">
	</td>
</tr>
$bluebar
<tr id="type">
        <td nowrap colspan=2><A tabindex=-1 href="javascript:loadhelp('_green_download_bt','')"><b>$greendl_manager_downloadtype</b></A>
        <select name="download_type_1" size="1" onchange="change_downlaod_type(this);">
                <option value="bt" selected>$greendl_bt</option>
                <option value="emule">Emule</option>
                <option value="http">$greendl_filetp</option>
        </select>
</td></tr>

</table>
<table id="usb" width=100% border=0 cellpadding=0 cellspacing=3 style="display: none">
	<tr style="height: 8px; overflow: hidden;"><td></td><td></td></tr>
	<tr>
		<td nowrap>
			<A tabindex=-1 href="javascript:loadhelp('_green_download_bt','bt_loc')"><B>$greendl_bt_torrent_location</B></A>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="bt_location_type_usb" value=0 onclick="change_file_path('0');"> $greendl_bt_torrent_location_PC
			<input type="radio" checked name="bt_location_type_usb" value=1 > $greendl_bt_torrent_location_USB
			<input type="radio" name="bt_location_type_usb" value=2 onclick="change_file_path('1');"> $greendl_bt_torrent_link
			<input type="text" name="magnet_url_usb" size="42" value="">
		</td>
	</tr>
	<tr>
		<td nowrap >
			<input type="text" name="folder" size="32" value="" disabled>
			<input type="button" name="browse" value="$browse_mark" onClick='open_all_browser(document.forms[0],0);'>
		</td>
	</tr>
$bluebar
        <tr>
                <td nowrap colspan=2 align=center>
                <input class="add_bt" type="submit" name="Add" value="$add_mark" onClick="return add_item();">&nbsp;&nbsp;
                <input class="long_delete_bt" type='button' name='reset' value='$green_qos_reset' onClick='reset_form();'>
                </td>
        </tr>
</table>
<table id="magnet" style="display: none"  width=100% border=0 cellpadding=0 cellspacing=3>
	<tr style="height: 8px; overflow: hidden;"><td></td><td></td></tr>
	<tr>
		<td nowrap>
			<A tabindex=-1 href="javascript:loadhelp('_green_download_bt','bt_loc')"><B>$greendl_bt_torrent_location</B></A>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="bt_location_type_magnet" value=0 onclick="change_file_path('0');"> $greendl_bt_torrent_location_PC
			<input type="radio" name="bt_location_type_magnet" value=1 onclick="change_file_path('2');"> $greendl_bt_torrent_location_USB
			<input type="radio" checked name="bt_location_type_magnet" value=2> $greendl_bt_torrent_link
			<input type="text" name="magnet_url" size="42" value="">
		</td>
	</tr>
	<tr>
		<td nowrap >
			<input name="mtenFWUpload" type="file" size="32" disabled>
		</td>
	</tr>
$bluebar
        <tr>
                <td nowrap colspan=2 align=center>
                <input class="add_bt" type="submit" name="Add" value="$add_mark" onClick="return add_magnet();">&nbsp;&nbsp;
                <input class="long_delete_bt" type='button' name='reset' value='$green_qos_reset' onClick='reset_form();'>
                </td>
        </tr>
</table>

</form>
<FORM method="post" action='/bt_file.cgi?/GREEN_bt_basic.htm timestamp=<% hijack_get_timestamp("add_usb_bt_file") %>' target=formframe enctype="multipart/form-data" class="new_form">
	<input type="hidden" name="submit_flag" >
	<table id="pc" width=100% border=0 cellpadding=0 cellspacing=3>
		 <tr style="height: 9px; overflow: hidden;"><td></td><td></td></tr>
	<tr>
		<td nowrap colspan=2>
			<A tabindex=-1 href="javascript:loadhelp('_green_download_bt','bt_loc')"><B>$greendl_bt_torrent_location</B></A>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" checked name="bt_location_type" value=0> $greendl_bt_torrent_location_PC
				<input type="radio" name="bt_location_type" value=1 onclick="change_file_path('2');"> $greendl_bt_torrent_location_USB
				<input type="radio" name="bt_location_type" value=2 onclick="change_file_path('1');"> $greendl_bt_torrent_link
				<input type="text" name="magnet_url_pc" size="42" value="">
		</td>
	</tr>
	<tr>
		<td nowrap>
			<input name="mtenFWUpload" type="file" size="32">
		</td>
	</tr>
$bluebar
        <tr>
                <td nowrap colspan=2 align=center>
                <input class="add_bt" type="submit" name="Add" value="$add_mark" onClick="return add_BT();">&nbsp;&nbsp;
		<input class="long_delete_bt" type='button' name='reset' value='$green_qos_reset' onClick='reset_form();'>
                </td>
        </tr>
</table>
</FORM>
<form method="post" target=formframe class="new_form">
	<table width=100% border=0 cellpadding=0 cellspacing=3>
		<TR><TD colSpan=2><A tabindex=-1 href="javascript:loadhelp('_green_download_bt','bt_emule_http_table')"><B>$greendl_common_InfoShowTable</B></A></TD></TR>
		<TR><TD colSpan=2></TD></TR>
		<TR><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
		<TR><TD colSpan=2 id="download_tb">
			<TABLE border=1 cellpadding=2 cellspacing=0 width=100%>
			<TR>
				<TD nowrap align=center><span class="subhead">$greendl_common_showSelect<input type=checkbox name="chbx_all_item" value="0" onclick="select_all_items()"></span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showNo</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showFileName</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showFileSize</span></TD>
				<TD nowrap align=center><span class="subhead">$qos_priority</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showSpeed</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showDownload</span></TD>
				<TD nowrap align=center><span class="subhead">$stalist_Status</span></TD>
				<TD nowrap align=center><span class="subhead">$block_ser_setup_pro</span></TD>
			</TR>
			</TABLE>
			<script>refresh_download_table()</script>
		</TD></TR>
		$bluebar
		<TR>
			<TD nowrap colspan=2 align=center>
			<input type="button" class="common_bt" name="resume" value="$greendl_common_button_resume" onClick="resume_download(document.forms[2]);">&nbsp;&nbsp;
			<input type="button" class="common_bt" name="start" value="$refresh_mark" onClick="refresh_download(document.forms[2]);">&nbsp;&nbsp;
			<input type="button" class="common_bt" name="pause" value="$greendl_common_button_pause" onClick="pause_download(document.forms[2]);">&nbsp;&nbsp;
			<input type='button' class="common_bt" name='remove' value='$delete_mark' onClick='remove_item(document.forms[2]);'>
			</TD>
		</TR>
		<TR><TD colSpan=2><A tabindex=-1 href="javascript:loadhelp('_green_download_bt','bt_emule_http_downloaded')"><B>$greendl_common_showDownloaded</B></A></TD></TR>
		<TR><TD colSpan=2></TD></TR>
		<TR><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
		<TR><TD colSpan=2 id="downloaded_tb">
			<TABLE border=1 cellpadding=2 cellspacing=0 width=100%>
			<TR>
				<TD nowrap align=center><span class="subhead">$greendl_common_showNo</span> </TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showFileName</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showFileSize</span></TD>
				<TD nowrap align=center><span class="subhead">$greendl_common_showSavedPath</span></TD>
			</TR>
			</TABLE>
			<script>refresh_downloaded_table()</script>
		</TD></TR>
		$bluebar
		<TR>
			<TD nowrap colspan=2 align=center>
			<input type="button" class="common_big_bt"  name="rm_history" value="$greendl_common_button_removeHistory" onClick='remove_history(document.forms[2]);'>&nbsp;&nbsp;
			</TD>
		</TR>
	</TABLE>
<input type="hidden" name="select_ids" value="">
<input type="hidden" name="select_ids_queuen" value="">
<input type="hidden" name="priority_val">
<input type="hidden" name="file_type" value="2">
<input type="hidden" name="submit_flag" />
</form>
</div>
<div id="pls_wait_div" style="color: #000;">
	<table width="100%">
		<tr><td align="center"><b>$wizard_pls_wait</b><br /><br /></td></tr>
		<tr><td align="center"><img src="image/wait30.gif" /></td></tr>
	</table>
</div>
<% help_box("1","_green_download_bt") %>
</BODY>
</HTML>
