<% http_header("style/form.css", "/funcs.js") %>
<BODY>
<script>
var zip_type="<% cfg_get("download_zip_type")%>";
var ifr = document.createElement("IFRAME");
if(zip_type == "windows")
	ifr.src="windows.zip";
else if(zip_type == "nonwindows")
	ifr.src="nonwindows.zip";
else if(zip_type == "smartphone")
	ifr.src="smart_phone.zip";
ifr.frameBorder = 0;
ifr.scrolling ="no";
ifr.width = 0;
ifr.height =0;
document.body.appendChild(ifr);

</script>
<iframe name="vpn_page" width="100%" height="100%" style="position:absolute; top:0; bottom:45px; left:0px; overflow: hidden;" frameborder="0" scrolling="no" src="vpn_service.htm">
</BODY>
</HTML>

