<% http_header("style/form.css", "/funcs.js", "/bas_mulpppoe.js") %>
<% body_header( "", "BAS_update.htm", "mulpppoe_edit") %>
<% table_header( "$basic_intserv_mulpppoe" ) %>
$bluebar

<script>
<% multipppoe_items() %>
str1_div="";
str2_div="";
str3_div="";
str4_div="";
var select_edit='<% cfg_get("mul_editnum") %>';
function loadvalue()
{
//	loadMPhelp("_BAS_mulpppoe");
	var cf=document.forms[0];
	str1_div=getObj("hidden_protocol").innerHTML;
	getObj("hidden_protocol").innerHTML='';
	str2_div=getObj("hidden_port").innerHTML;
	getObj("hidden_port").innerHTML='';
	str3_div=getObj("hidden_doname").innerHTML;
	getObj("hidden_doname").innerHTML='';
	str4_div=getObj("hidden_ip").innerHTML;
	getObj("hidden_ip").innerHTML='';
	var str = eval ( 'mulpppoeArray' + select_edit );
	var each_info=str.split(' ');
	cf.pppoe2_policy.value=each_info[0];
	cf.hidden_pppoe2_policy.value=each_info[0];
	setPolicy();
	if(each_info[0] == '0')
		cf.userdefined.value=each_info[1];
	else if(each_info[0] == '1')
	{
		cf.protocol.value=each_info[6];
		var start_array=each_info[2].split('.');
		var end_array=each_info[3].split('.');
		cf.start_ip1.value=start_array[0];
                cf.start_ip2.value=start_array[1];
                cf.start_ip3.value=start_array[2];
                cf.start_ip4.value=start_array[3];
              //  cf.end_ip1.value=end_array[0];
              //  cf.end_ip2.value=end_array[1];
              //  cf.end_ip3.value=end_array[2];
                cf.end_ip4.value=end_array[3];
	}
	else if(each_info[0] == '2')
	{
		cf.protocol.value=each_info[6];
		cf.portstart.value=each_info[4];
		cf.portend.value=each_info[5];
	}
		
}
</script>

<input type="hidden" name="hidden_pppoe2_policy">
<input type="hidden" name="hidden_userdefined">
<input type="hidden" name="hidden_ip_start">
<input type="hidden" name="hidden_ip_end">
<input type="hidden" name="hidden_portstart">
<input type="hidden" name="hidden_portend">
<input type="hidden" name="hidden_protocol_value">
<input type="hidden" name="ip_start">
<input type="hidden" name="ip_end">
  <tr>
	<td nowrap>$policy_setting</td>
	<td nowrap align=right>
		<SELECT name="pppoe2_policy" disabled onChange="setPolicy();">
			<option value="0">$pppoe2_domain_name</option>
			<option value="1">$pppoe2_ip_protocol</option>
			<option value="2">$pppoe2_port_protocol</option>
			<option value="3">$pppoe2_ip_protocol</option>	
		</SELECT>
	</td>
  </tr>
  </table>
  <div id="mul_protocol"></div>
  <div id="hidden_protocol" style="VISIBILITY:hidden;POSITION:absolute;">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	<tr>
		<td nowrap>$block_ser_setup_pro</td>	
		<td nowrap align=right> 
		<select NAME="protocol" size="1" >
			<option value="TCP">$block_ser_setup_tcp</option>
			<option value="UDP">$block_ser_setup_udp</option>
			<option value="TCP/UDP">$block_ser_setup_tcp_udp</option> 
		</select>
		</td>
	</tr>
	</table>
  </div>	
  <div id="mul_port"></div>
  <div id="hidden_port" style="VISIBILITY:hidden;POSITION:absolute;">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	<tr>
		<td nowrap>block_ser_port_range</td>
		<td nowrap align=right><input type="text" name="portstart" size="7" maxlength="5" onKeyPress="return getkey('num', event)"> --- 
		<input type="text" name="portend" size="7" maxlength="5" onKeyPress="return getkey('num', event)"></td>
	</tr>
	</table>
  </div>
  <div id="mul_doname"></div>
  <div id="hidden_doname" style="VISIBILITY:hidden;POSITION:absolute;">
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	<tr>
		<td nowrap>$pppoe2_domain_name</td>
		<td nowrap align=right><input type="text" name="userdefined" size="20" maxlength="30" onKeyPress="return getkey('ddns_hostname', event)"></td>
	</tr>
	</table>
  </div>
  <div id="mul_ip"></div>
  <div id="hidden_ip" style="VISIBILITY:hidden;POSITION:absolute;">
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<tr>	
	<td nowrap><br>$block_ser_setup_ip_jp</td>
	<td nowrap align=right>
        <input type="text" name="start_ip1"  size="3" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event)" onkeyup="keyup(event,this);">.
        <input type="text" name="start_ip2"  size="3" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event)" onkeyup="keyup(event,this);">.
        <input type="text" name="start_ip3"  size="3" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event)" onkeyup="keyup(event,this);">.
        <input type="text" name="start_ip4"  size="3" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event)" onkeyup="keyup(event,this);"> ---
        <input type="text" name="end_ip4"  size="3" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event)" onkeyup="keyup(event,this);">
        </td>
	</tr>
	</table>
  </div>
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR><td colspan=2><img src=/liteblue.gif width=100% height=12></td></TR>
<TR>
	<script>
		var master="<% cfg_get("http_loginname") %>";
		if( master=="admin" )
			document.write('<TD align=center colSpan=3 nowrap><input class="add_bt" type="submit"  value="$add_mark" onClick="return check_mulpppoe_add(document.forms[0],\'edit\')">&nbsp;&nbsp;<input class="cancel_bt" type="button" value="$cancel_mark" onClick="location.href=\'BAS_mulpppoe_ww.htm\';"></td>');
		else
			document.write('<TD align=center colSpan=3 nowrap><input class="add1_bt" type="submit"  value="$add_mark" disabled>&nbsp;&nbsp;<input class="cancel1_bt" type="button" value="$cancel_mark" disabled></td>');
	</script>
</TR>
</TABLE>
</FORM>
</body>
</html>
