<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<link rel="stylesheet" type="text/css" href="style/hijack_03A_wanInput_reenter.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_genie_03A_B_pppoe_reenter.js"></script>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
<% cfg_set("form_set2","") %>
<script>
var hijack_process="<% cfg_get("hijack_process") %>";
var master="<% cfg_get("http_loginname") %>";
</script>
</head>

<body>
<% form_submit("apply", "BRS_log12_incorrect_try_again.html", "hijack_pppoe") %>
<!--bug 22145 add hijack_toBasic-->
<% save_timestamp("hijack_pppoe", "hijack_toBasic") %>
<script language="javascript" type="text/javascript">var ts="<% cfg_get("hijack_toBasic") %>";</script>

<input type="hidden" name="WANAssign" value="0" />

<div class="wizard_content_div">

	<div class="wizard_words_div">
		
			<h1 class="h1_red"><!--pppoe_connection--></h1>
			<p><!--enter_info_below--></p>
			
			<div class="wanInput_content_div">
				
				<div id="loginName" class="wanInput_left_div" align="right">
					<!--pppoe_login_name-->
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<input type="text" id="pppoe_name" maxlength="64" align="right" name="pppoe_name" autocomplete="off" />
				</div>
				
				<div id="passwd" class="wanInput_left_div" align="right">
					<!--ddns_passwd-->
				</div>
				<div class="wanInput_Img_div">
					<img src="image/ca_text_pic.gif" />
					<script>
					if(top.dsl_enable_flag == 1)
						document.write('<input type="password" id="pppoe_password" maxlength="16" align="right" name="pppoe_passwd" autocomplete="off" />');
					else	
						document.write('<input type="text" id="pppoe_password" maxlength="16" align="right" name="pppoe_passwd" autocomplete="off" />');
						
					</script>
				</div>
				
				<div style="clear:both"></div>
			</div>
		
	</div>
	
	<div id="allBtns_div" class="wizard_buttons_div" align="right">

		<div id="btnsContainer_div1" class="buttons_img_div" align="center">
			<input type="button" name="I want to configure the Internet connection myself" id="self_config" class="purple_long_btn"><!--manual_config_connection-->
		</div>
		<div id="btnsContainer_div2" class="buttons_img_div" align="center">
			<input type="button" name="Try again" id="again" class="purple_common_btn"><!--try_again-->
		</div>

	</div>
	

</div>

</form>
</body>

</html>
