<% http_header("style/form.css", "/jquery-1.7.2.min.js", "/funcs.js", "/funjsq_wechat.js") %>
<body onLoad="loadvalue(); please_wait(false);" style="background:rgb(229,229,229)">
<script>
<% refresh_timestamp("funjsq_wechat") %>
<% save_timestamp("funjsq_login","funjsq_forget","funjsq_register","forget_get_verify","register_get_verify") %>
var ts = "<% cfg_get("funjsq_wechat") %>";
var funjsq_no_need_login = "<% cfg_get("funjsq_no_need_login") %>";
var module_name = "<% cat_file("/module_name") %>";
var router_mac = "<% cat_file("/sys/class/net/br0/address") %>";
top.document.getElementById("formframe").scrolling="yes";
</script>
<form id="wechatForm" method="POST" action="/admin.cgi?/funjsq_select.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_login" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="wechat_left">
<div class="funjsq_wechat">
<div class="wechat_content">
<h1>&nbsp;&nbsp;&nbsp;&nbsp;扫码登录</h1>
<div class="wechat_code"><img src=""><div class="invalid_alert"><div>二维码已失效</div><div><input id="wechat_bt" type="button" name="Apply" id="" value="刷新"></div></div></div>
<div class="wechat_start_content">打开手机登录&nbsp;&nbsp;扫描二维码</div>
<div class="wechat_success_content">绑定成功，进入公众号开关加速</div>
<div style="margin:40px 0px 0px -20px;">温馨提示：公众号支持注册登录与加速控制</div>
</div>
</div>
</div>
<div class="wechat_right">
    <div class="wechat_video">
	<p style="padding-top: 0.8rem; color: #FFC107; font-size: 2.5rem; text-align: center; ;"> 帆游联机加速器</p>
	<p style="color:white"> &emsp;&emsp;帆游加速器专注游戏联机加速服务，有效优化网络NAT类型，低延迟、匹配快、不掉线。支持PS4、NS、Xbox、Windows四大平台加速，自动选择节点，开机自动加速，无需电脑操作，公众号开关加速，智能且便捷。</p>
	<p style="margin: auto; color:white"> <a style="padding-top: 1.5rem; color: #FFC107" >支持平台:</a> PS4、NS、Xbox、Windows;</p>
	<p style="margin: auto; color:white"> <a style="color:#FFC107" >加速节点:</a> 日本、香港、美国、韩国、欧洲等节点;</p>
	<p style="margin: auto; color:white"> <a style="color:#FFC107" >加速效果:</a> 支持NAT提升、降低延迟、稳定不修包;</p>
	<p style="margin: auto; color:white"> <a style="color:#FFC107" >加速教程:</a> 1、扫描左侧二维码进入公众号；</p>
	<p style="margin: auto; color:white ; padding-left: 8px"> &emsp;&emsp;&emsp;&emsp;2、点击帆游加速器按钮进入控制小程序；</p>
	<div style="background-color: black; margin: 38px auto; width:450px;" >
		<video src="https://static.funjsq.com/web_control/router_gui/video/introduce.mp4" type="video/mp4" controls autoplay width="450px" height="300px" > 抱歉，你的浏览器不支持video标签。</video>
	</div>
    </div>
</div>
</form>
<div class="plz_wait" hidden="">
	<div align="center"><br/><br/><b><script>document.write(getText(top.bh_plz_wait_moment, "请等待一会..."));</script></b><br/><br/></div>
	<div class="waiting_img_div" align="center">
		<img src="image/wait30.gif"/>
	</div>
</div>
<script language="javascript" type="text/javascript">
function loadvalue()
{
}

</script>
</body>
</html>
