<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>

<title>NETGEAR Router @model_name# </title>
<meta http-equiv=content-type content='text/html; charset=UTF-8'>
<meta content="width=device-width; initial-scale=0.2; maximum-scale=1.0; user-scalable=yes;" name="viewport" />
    <style type="text/css">
        body {
            font-family: Calibri;
            zoom: 75%;
        }
    </style>

    <!-- 引用jquery -->
    <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="funcs.js"></script>
    <script>
	<% refresh_timestamp("funjsq_wechat") %>
	var ts = "<% cfg_get("funjsq_wechat") %>";
    	var ticket;
    	var expireSeconds;
    	var timer = 0;
    	var detectLoginsetTimeout;
		var funjsq_api_server = "<% cfg_get("funjsq_api_server") %>";   //nvram值 funjsq_api_server
		var QRCode_url;

		var mac_address = "<% cat_file("/sys/class/net/br0/address") %>"; //路由器LAN的MAC地址
		var router_name = "<% cat_file("/module_name") %>";  //路由器名称
		var funjsq_no_need_login = "<% cfg_get("funjsq_no_need_login") %>";
		
		if(funjsq_api_server == "funjsq")
			QRCode_url = 'https://wxapi.funjsq.com/index.php/wxFunjsq/api/v1/get_qrcode_url';
		else
			QRCode_url = 'https://wechat.netgear.cn/index.php/wxFunjsq/api/v1/get_qrcode_url';
			
    	function onload() {
		$$.ajax({
    			url: 'https://wxapi.funjsq.com/wxMini/app_market/router_gui/funjsq_introduce.php?router_name=' + router_name,
        		type: 'GET',
				//dataType: 'json',
        		success: function(data) {
					//console.log(data);
        			//if (response.status == "success")
        			document.getElementById("rightField").innerHTML=data;
        		}
    		})
			document.getElementById("rightField").style.display = "";
			//判断nvram值 funjsq_no_need_login是否为1，是的话直接进入成功的状态
		if(funjsq_no_need_login != "1") {
			$$.ajax({
	        		url: QRCode_url,
	        		type: 'GET',
	        		dataType: 'json',
	        		success: function(response,status,xhr) {
	        			if (response.code==1000) {
		        			setQRCode(decodeURIComponent(response.url));
		        			ticket = response.ticket;
		        			expireSeconds = response.expire_seconds;
		        			detectLogin();
						}
	        		}

	        	})
        	}else {
        		setQRCode("image/funjsq_success.png");
	    		document.getElementById("qrcode").width="109";
	    		document.getElementById("qrcode").height="127";
				document.getElementById("describe").innerHTML="<b>綁定成功 进入公众号开关加速</b>";
        	}
        }

        function setQRCode(url){
        	document.getElementById('qrcode').src=url;
        };

        function detectLogin() {
			var url;
			if(funjsq_api_server == "funjsq")
				url = 'https://wxapi.funjsq.com/index.php/wxFunjsq/api/v1/check_qrcode_scan_action?ticket=' + ticket + '&R=' + router_name + '&MAC=' + mac_address;
			else
				url = 'https://wechat.netgear.cn/index.php/wxFunjsq/api/v1/check_qrcode_scan_action?ticket=' + ticket + '&R=' + router_name + '&MAC=' + mac_address;
		$$.ajax({
        		url: url,
        		type: 'GET',
        		dataType: 'json',
        		success: function(response,status,xhr) {
        			switch (response.code) {
        				case "1000":
						    //用户扫描并关注了公众号，执行【登录API】，此处需要根据自己路由器写法相应修改
						$$.ajax({
							url: '/admin.cgi?/funjsq.htm timestamp='+ts,
        						type: 'POST',
        						dataType: 'json',
							data: 'submit_flag=funjsq_wechat&funjsq_access_token='+ response.funjsq_access_token,
        						contentType: 'application/json',
        						success: function(response,status,xhr) {
        							setQRCode("image/funjsq_success.png");
						    		document.getElementById("qrcode").width="109";
						    		document.getElementById("qrcode").height="127";
									document.getElementById("describe").innerHTML="<b>綁定成功 进入公众号开关加速</b>";
        						},
        						error: function(response,status,xhr) {
        							/* Act on the event */
        							console.log(status);
        						}
        					})
    						break;
    					case "1001":
    						if(timer < expireSeconds/2) {
    							timer++;
    							detectLoginsetTimeout = setTimeout(detectLogin, 2000);
    						}else {
    							timer = 0;
    							clearTimeout(detectLoginsetTimeout);
    							QRCodeFail();
    						}
    						break;
    					case "1002":
    						alert(response.msg);
    						QRCodeFail();
    						break;
        			}

        		}
        	})
        }

        function QRCodeFail() {
        	document.getElementById("qrcodeBlock").style.display="";
        	document.getElementById("failText").style.display="";
        	document.getElementById("refreshBtn").style.display="";
        }

        function refreshBtnClick() {
        	onload();
        	document.getElementById("qrcodeBlock").style.display="none";
        	document.getElementById("failText").style.display="none";
        	document.getElementById("refreshBtn").style.display="none";
        }

    </script>
</head>
<body onload="onload(); please_wait(false);">
    <div style="overflow: hidden;">
    <table style="background: #000; width:1200px; height:650px">
        <tr>
        <td>
            <div style="background-image: url(image/funjsq_background.jpg);background-size:cover;width: 720px;height: 690px;margin: -2px">
                <div style="background: rgb(251,251,251); position: relative; top: 137px; height: 400px;border-radius:12px;filter:0.8;-moz-opacity:0.8;opacity:0.8;">
                    <table style=";width: 720px;height: 300px">
                        <tr>
                            <td rowspan="3" style="/*width: 557px;height: 422px;*/"><div style="width: 420px;height: 300px; overflow: hidden;"><img src="image/funjsq_login_new.jpg" style="/*margin: -155px 0px 0px -221px*/width:100%;"></div></td>
                            <td style="height: 56px; color: rgb(140,0,140);text-align: center;font-size: 16px; font-weight: bold;">扫码登录</td>
                        </tr>
                        <tr>
                            <td align="center" style="height: 300px">
                                <img id="qrcode" width="194" height="194" style="margin-top: -82px">
                                <div id="qrcodeBlock" style="padding-left: 20px; background:black; height: 194px;width:  194px;position:  absolute;top: 55px;opacity: 0.5; display: none;"></div>
								<div id="failText" style="position: absolute; top: 110px; right: 98px; color: rgb(255,255,255);font-weight: bold; font-size: 12px; display: none;">二维码已失效</div>
								<button id="refreshBtn" type="button" style="position: absolute; right: 96px; background: rgb(53,149,233); width: 100px; height: 40px; font-size: 13px; border: none; color: rgb(255,255,255); display: none;" onclick="refreshBtnClick();">刷新</button>
                                <div id="describe" style="margin-top: 8px;color: #888888"><b>打开手机<span style="color: red">微信</span> 扫描二维码</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="color: #8c8c8c;font-size:10px;"><b>提示：公众号支持注册登录与加速控制</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </td>
        <td>
 
        	<div id="rightField" style="display:none;">
            	<div style="background-color: black;  width:480px; height:650px ; border-radius:0px 8px 8px 0px;">
            		<p style="padding-top: 0.8rem; color: #FFC107; font-size: 2.5rem; text-align: center; ;"> 帆游联机加速器</p><p style="color:white"> &emsp;&emsp;帆游加速器专注游戏联机加速服务，有效优化网络NAT类型，低延迟、匹配快、不掉线。支持PS4、NS、Xbox、Windows、Android、iOS 六大平台加速，自动选择节点，开机自动加速，无需电脑操作，公众号开关加速，智能且便捷。</p>
            		<p style="margin: auto; color:white">
            			<a style="padding-top: 1.5rem; color: #FFC107" >支持平台:</a> PS4、NS、Xbox、Windows、Android、iOS;
            		</p>
            		<p style="margin: auto; color:white">
            			<a style="color:#FFC107" >加速节点:</a> 日本、香港、美国、韩国、欧洲等节点;
            		</p>
            		<p style="margin: auto; color:white">
            			<a style="color:#FFC107" >加速效果:</a> 支持NAT提升、降低延迟、稳定不丢包;
            		</p>
            		<p style="margin: auto; color:white">
            			<a style="color:#FFC107" >加速教程:</a> 1、扫描左侧二维码进入公众号；
            		</p>
					<p style="margin: auto; color:white ; padding-left: 8px"> &emsp;&emsp;&emsp;&emsp;2、点击帆游加速器按钮进入控制小程序；</p>
					<div style="background-color: black; margin: 38px auto; width:450px;">
						<video src="https://static.funjsq.com/web_control/router_gui/video/introduce.mp4" type="video/mp4" controls autoplay width="450px" height="300px" > 抱歉，你的浏览器不支持video标签。</video>
					</div>
				</div>
        	</div>
        </td>
        </tr>
        
    </table>
    </div>
     <!-- @model_name# 路由器名称 -->
    <input type="hidden" id="routeName" name="routeName" value="@model_name#">
	<!-- @lan_mac# LAN IP -->
    <input type="hidden" id="mac" name="mac" value="@lan_mac#">
</body>
</html>
