<% http_header("style/form.css", "/jquery-1.7.2.min.js", "/funcs.js", "/funjsq.js") %>
<body onLoad="loadvalue(); please_wait(false);" style="background:rgb(229,229,229)">
<script>
<% refresh_timestamp("funjsq_login") %>
<% save_timestamp("funjsq_login","funjsq_forget","funjsq_register","forget_get_verify","register_get_verify") %>
var ts = "<% cfg_get("funjsq_login") %>";
var forget_or_register = "<% cfg_get("forget_or_register") %>";
var funjsq_no_need_login = "<% cfg_get("funjsq_no_need_login") %>";
</script>
<form id="loginForm" method="POST" action="/admin.cgi?/funjsq_select.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_login" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="funjsq_login_new">
<div><img class="funjsq_login_image" src="/image/funjsq_login.png" /></div>
<div class="funjsq">
<div class="icon_account"></div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;简单两步完成加速</h1>
<h3>第1步 ———————— 登录账号</h3>
<div class="" id="">
<TABLE cellspacing=5 cellPadding=3 width=100% border=0 class="funjsq_tab">
<TR>
        <TD nowrap>
        <input type="text" name="funjsq_username" id="loginName" maxLength="64" size="16" autocomplete="off" value="" placeholder="输入您的帆游账号...">
        </TD>
</TR>
<TR>
        <TD nowrap>
        <input type="text" name="funjsq_password" id="loginPwd" maxlength="64" size="16" onfocus="this.type='password'" autocomplete="off" placeholder="输入您的帆游密码...">
        </TD>
</TR>
<TR>
	<TD nowrap>
	<!--
	<input class="apply_bt" type="button" name="Apply" id="loginBt" value="登录" onclick="return funjsq_login_apply(document.forms[0]);">
	--!>
	<input class="apply_bt" type="button" name="Apply" id="loginBt" value="登录">
	</TD>
</TR>
<TR>
	<TD nowrap><span id="forgetBt">忘记密码 &gt;&gt;</span><span> 还没有帆游账号？</span><span id="registerBt">点击注册 &gt;&gt;</span>
	</TD>
</TR>
</TABLE>
</div>
</div>
</div>

<div class="WeChat" style="float:left;" onClick="window.open('https://static.meiqia.com/dist/standalone.html?=t&eid=48087');">
        <img style="width:130px;" src="/image/WeChat.png" />
</div>
</form>
<form id="forgetForm" method="POST" action="/admin.cgi?/funjsq_login.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_forget" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_verify" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="funjsq_login_new">
<div><img class="funjsq_login_image" src="/image/funjsq_login.png" /></div>
<div class="funjsq">
<div class="icon_account"></div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;简单两步完成加速</h1>
<h3 style="margin-left:220px;">忘记密码</h3>
<div class="" id="">
<TABLE cellspacing=5 width=30% border=0 class="funjsq_tab_new">
<TR>
        <TD nowrap>手机号</TD>
        <TD nowrap colspan="2">
                <input type="text" name="funjsq_username" id="forgetName" maxLength="64" size="24" autocomplete="off" value="" placeholder="输入您的手机号码">
        </TD>
	<TD></TD>
</TR>
<TR>
        <TD nowrap>密码</TD>
        <TD nowrap colspan="2">
        <input type="text" name="funjsq_password" id="forgetPwd" maxlength="32" size="24" onfocus="this.type='password'" autocomplete="off" placeholder="请输入6-32位数字和字母组合">
        </TD>
	<TD></TD>
</TR>
<TR>
        <TD nowrap>验证码</TD>
        <TD nowrap>
                <input type="text" name="funjsq_verify" id="forgetVry" maxLength="64" size="12" autocomplete="off" value="" placeholder="请输入短
信验证码">
        </TD>
        <TD nowrap>
                <input class="funjsq_bt" type="button" name="Apply" id="forgetVerifyBt" value="获取验证码" onclick="$$.get_verify('1','forget');">
        </TD>
</TR>
</TABLE>
<div style="margin:10px 94px;">
        <input class="funjsq_bt" type="button" name="Apply" id="forgetApplyBt" value="确认提交" onclick="$$.forget_register_apply('1','forget');">
        <input class="funjsq_bt" type="button" name="Apply" id="forgetBackBt" value="返回">
</div>
</div>
</div>
</div>
<div class="WeChat" onClick="window.open('https://static.meiqia.com/dist/standalone.html?=t&eid=48087');">
        <img style="width:130px;" src="/image/WeChat.png" />
</div>
</form>
<form id="registerForm" method="POST" action="/admin.cgi?/funjsq_login.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_register" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_verify" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="funjsq_login_new">
<div><img class="funjsq_login_image" src="/image/funjsq_login.png" /></div>
<div class="funjsq">
<div class="icon_account"></div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;简单两步完成加速</h1>
<h3 style="margin-left:220px;">注册账号</h3>
<div class="" id="">
<TABLE cellspacing=5 width=30% border=0 class="funjsq_tab_new">
<TR>
        <TD nowrap>手机号</TD>
        <TD nowrap colspan="2">
                <input type="text" name="funjsq_username" id="registerName" maxLength="64" size="24" autocomplete="off" value="" placeholder="输入您的手机号码">
        </TD>
	<TD></TD>
</TR>
<TR>
        <TD nowrap>密码</TD>
        <TD nowrap colspan="2">
        <input type="text" name="funjsq_password" id="registerPwd" maxlength="32" size="24" onfocus="this.type='password'" autocomplete="off" placeholder="请输入6-32位数字和字母组合">
        </TD>
	<TD></TD>
</TR>
<TR>
        <TD nowrap>验证码</TD>
        <TD nowrap>
                <input type="text" name="funjsq_verify" id="registerVry" maxLength="64" size="12" autocomplete="off" value="" placeholder="请输入
短信验证码">
        </TD>
        <TD nowrap>
                <input class="funjsq_bt" type="button" name="Apply" id="registerVerifyBt" value="获取验证码" onclick="$$.get_verify('2','register');">
        </TD>
</TR>

	</TABLE>
<div style="margin:10px 94px;">
        <input class="funjsq_bt" type="button" name="Apply" id="" value="确认提交" onclick="$$.forget_register_apply('2','register');">
        <input class="funjsq_bt" type="button" name="Apply" id="registerBackBt" value="返回">
</div>
</div>
</div>
</div>

<div class="WeChat" onClick="window.open('https://static.meiqia.com/dist/standalone.html?=t&eid=48087');">
        <img style="width:130px;" src="/image/WeChat.png" />
</div>
</form>
<div class="plz_wait" hidden="">
	<div align="center"><br/><br/><b><script>document.write(getText(top.bh_plz_wait_moment, "请等待一会..."));</script></b><br/><br/></div>
	<div class="waiting_img_div" align="center">
		<img src="image/wait30.gif"/>
	</div>
</div>
<script language="javascript" type="text/javascript">
function loadvalue()
{
	document.forms[1].style.display="none";
	document.forms[2].style.display="none";
}

</script>
</body>
</html>
