<% http_header("style/form.css", "/funcs.js", "/jquery-1.7.2.min.js", "/moment.js", "/funjsq.js") %>
<body onLoad="loadvalue(); please_wait(false);">
<form method="post" id="payForm" action="/apply.cgi?/funjsq_select.htm" target="formframe" style="display:block;">
<input type="hidden" name="submit_flag" value="funjsq_pay" />
<script language="javascript" type="text/javascript">
var mobile="<% cfg_get("funjsq_mobile") %>";
var expire="<% cfg_get("funjsq_expire") %>";
var QQSupport="<% cfg_get("funjsq_QQSupport") %>";
var funjsq_accNum="<% cfg_get("funjsq_accNum") %>";
var funjsq_acc_max="<% cfg_get("funjsq_acc_max") %>";
var funjsq_acc_tips="<% cfg_get("funjsq_acc_tips") %>";
<% refresh_timestamp("funjsq_pay") %>
var ts = "<% cfg_get("funjsq_pay") %>";
function loadvalue()
{

}

</script>
<div data-title="续费充值" class="tab">
<h1>续费充值</h1>
<ul class="pay">
<li>
<p><em>套餐类型</em></p>
<span class="active" id="suitType1" data-fun-product="d" onclick="$$.selectType('1');">基础套餐</span>
<span class="" id="suitType2" data-fun-product="h" onclick="$$.selectType('2');">终端数升级</span>
</li>
<li class="suit_select">
<p><em>套餐选择</em></p>
<span onclick="$$.selectSuit('1');" id="suit1" class="active" data-fun-product="">包月<em id="pay1" style="display:none;">35.00</em></span>
<span onclick="$$.selectSuit('2');" id="suit2" data-fun-product="">季度<em id="pay2" style="display:none;">95.00</em></span>
<span onclick="$$.selectSuit('3');" id="suit3" data-fun-product="">半年<em id="pay3" style="display:none;">186.00</em></span>
<span onclick="$$.selectSuit('4');" id="suit4" data-fun-product="">包年<em id="pay4" style="display:none;">348.00</em></span>
</li>
<li class="num_select">
<p><em>加速终端数</em></p>
<span onclick="$$.selectNum('1');" id="num1" class="active" data-fun-product="30">1</span>
<span onclick="$$.selectNum('2');" id="num2" data-fun-product="90">2</span>
<span onclick="$$.selectNum('3');" id="num3" data-fun-product="182">3</span>
<span onclick="$$.selectNum('4');" id="num4" data-fun-product="365">4</span>
<span onclick="$$.selectNum('5');" id="num5" data-fun-product="365">5</span>
</li>
<li style="display: none">
<p>当前账户等级<span class="vip">VIP0</span>，距升级<span>VIP1</span>仅需<span class="money">50</span>元，<span class="vip">VIP2</span>尊享价<span class="money">19</span>元</p>
<a href="">点击查看更多特权</a>
</li>
<li class="text">
<p><em>预计可用</em></p>
<p>当前账户过期时间：
<script>document.write('<span>'+expire+'</span>');
</script>
<br/> 多终端套餐过期时间：
<span><script>document.write('+expire+');</script></span>
<br/>
</p>
<p style="color:#999;">当前帐号支持终端数：<span id="nowNum" style="color:red;"></span> 套餐购买后支持终端数：<span style="color:red;" id="afterNum"></span></p>
<p>* 多终端加速可用时间与计费基于单终端套餐</p>
</li>
<li>
<p><em>支付金额</em></p>
<p class="sum">￥<b>00.00</b>元</p>
</li>
<li class="coupon" style="display: none">
<input class="code" type="text" placeholder="请输入优惠码">
<input class="use" type="submit" value="使用">
</li>
<li>
<p><em>支付方式</em></p>
<span class="active alipay" data-fun-product="alipay">支付宝</span>
</li>
</ul>
<div class="payButton">
<input type="button" id="returnBt" value="返回" onclick="location.href='funjsq_select.htm'"/>
<input type="button" id="payBt" value="立即支付"/>
</div>
<div class="pay_alert">
<ul>
<li>温馨提示：五天无理由退款说明</li>
<li>a. 首次购买的用户五天内可申请无理由退款，不扣除任何手续费；</li>
<li>b. 每个账号仅限退款1次，超过限制不退款；</li>
<li>c. <a style="color:#1965b1;" onclick="window.open('https://www.funjsq.com/refund_terms.html');">退款细则</a></li>
</ul>
</div>
</div>
<!--
<div class="" style="margin:20px 0px 0px 50px;">
<div class="funjsq_pay_title">续费充值</div>
<div class="funjsq_pay_type">
<div class="funjsq_select" style="width:98%;">
    <div class="funjsq_pay_div">
	<div class="funjsq_pay_subtitle">套餐类型</div>
	<div class="funjsq_pay_sel">
		<div class="funjsq_pay_opt">包月包年</div>
		<div class="funjsq_pay_opt">包时</div>
	</div>
    </div>
    <div class="funjsq_pay_div">
	<div class="funjsq_pay_subtitle">套餐选择</div>
        <div class="funjsq_pay_sel">
                <div class="funjsq_pay_opt">包月35元</div>
                <div class="funjsq_pay_opt">季度99元</div>
                <div class="funjsq_pay_opt">半年186元</div>
		<div class="funjsq_pay_opt">包年348元</div>
        </div>
    </div>
    <div class="">
	<div class="funjsq_pay_subtitle">预计可用</div>
        <div class="funjsq_sel">当前账户过期时间：2018-04-13 16：00：00</div>
	<div class="funjsq_sel">购买此套餐后过期时间：2018-05-13 16：00：00</div>
	<div class="funjsq_sel"> * 账户可用时间以实际成交套餐为准</div>
    </div>
    <div>
	<div class="funjsq_pay_subtitle">支付金额</div>
	<div class="funjsq_sel">00.00元</div>
    </div>
    <div>
	<div class="funjsq_pay_subtitle">支付方式</div>
	<div class="funjsq_pay_sel">
		<div class="funjsq_pay_opt">支付宝</div>
	</div>
    </div>
</div>
</div>
</div>
</div>--!>
<div class="WeChat" onClick="window.open('https://static.meiqia.com/dist/standalone.html?=t&eid=48087');">
        <img class="funjsq_new_image" style="position:absolute;margin:-10px 0px 0px 630px;" src="/image/WeChat.png" />
</div>
</form>
<form id="confirmForm" hidden="">
	<div class="funjsq_pay">
		<div>请在新打开的页面上完成付款</div>
		<div><img id="payIssueImg" src="/image/pay_issue.png"></img></div>
		<span>完成付款后请根据您的情况点击下面按钮</span>
		<div>
                       <input type="button" name="Apply" id="payTrouble" value="付款遇到问题">
                       <input type="button" name="Apply" id="payFinish" value="我已完成付款">
               </div>
	</div>
<div class="WeChat" onClick="window.open('https://static.meiqia.com/dist/standalone.html?=t&eid=48087');">
        <img class="funjsq_new_image" style="margin:-390px 0px 0px 610px;" src="/image/WeChat.png" />
</div>
</form>
<div class="plz_wait" hidden="">
        <div align="center"><br/><br/><b><script>document.write(getText(top.bh_plz_wait_moment, "请等待一会..."));</script></b><br/><br/></div>
        <div class="waiting_img_div" align="center">
                <img src="image/wait30.gif"/>
        </div>
</div>
</body>
</html>
