<% http_header("style/form.css", "/funcs.js", "/passwd.js", "jquery-1.7.2.min.js", "/jquery.base64.min.js") %>
<% body_header("_passwd", "PWD_password.htm", "passwd") %>
<style>
ul {margin: 5px 0 5px 23px;padding:5px 0;}
li img{width:20px;height:20px;margin-left:-22px;}
li {list-style-type: none;}
</style>
<input type="hidden" name="hidden_enable_recovery">
<input type="hidden" name="hid_answer1_change">
<input type="hidden" name="hid_answer2_change">
<input type="hidden" name="hid_answer1">
<input type="hidden" name="hid_answer2">
<script>
var rec_time="<% cfg_sed_xss("password_recovered_timestamp") %>";
var gui_region="<% cfg_get("GUI_Region") %>";
var ec_time="";
if( rec_time != "" )
{
	ec_time=change_cur_time(rec_time,gui_region);
}
</script>
<div class="page_title" id="page_title">$passwd_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'PWD_password.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="return checkpasswd(document.forms[0])"></TD>');
else
	document.write(' <TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>
       
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<TR>
	<TD nowrap>$passwd_curpas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysOldPasswd" id="sys_old_passwd" value="">
	</TD>
</TR>
<TR>
	<TD nowrap>$passwd_setpas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysNewPasswd" id="sys_new_passwd" onFocus="this.select();" style="vertical-align:bottom;" onkeyup="debounce()" onkeydown="change_display()">
	<span><img id="pwd_warn" src="" style="display:none;vertical-align:bottom;width:22px;height:21px;"></span>
	</TD>
</TR>
<TR id="passwd_hint" style="display:none;">
	<TD nowrap></TD>
	<TD nowrap>
		<div id="passwd_hint_content" style="border-radius:20px;max-width:500px;">
		<ul>
			<li>
				<span>$passwd_condition</span>
			</li>
			<li>
				<ul>
					<li>
						<img id="pwd_len" src="">
						<span>$password_reset_conditions5_1</span>
					</li>
					<li>
						<img id="pwd_identical" src="">
						<span>$password_reset_conditions6</span>
					</li>
				</ul>
			</li>
		<li>
			<img id="pwd_complex" src="">
			<span style="white-space: normal;">$password_reset_tip3</span>
		</li>
		<li>
			<ul>
				<li>
					<img id="pwd_complex1" src="">
					<span>$password_reset_conditions1</span>
				</li>
				<li>
					<img id="pwd_complex2" src="">
					<span>$password_reset_conditions2</span>
				</li>
				<li>
					<img id="pwd_complex3" src="">
					<span>$password_reset_conditions3</span>
				</li>
				<li>
					<img id="pwd_complex4" src="">
					<span>$password_reset_conditions4</span>
				</li>
			</ul>
		</li>
	</ul>
	</div>
	</TD>
</TR>

<TR>
	<TD nowrap>$passwd_repas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysConfirmPasswd" id="sys_confirm_passwd" onFocus="this.select();" >
	</TD>
</TR>

<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_recovery" id="enable_recovery"  onClick="change_password_recovery()" > 
	<script>
		if(top.security_enhance_flag)
			document.write("$enable_passwd_reset");
		else
			document.write("$enable_password_recovery");
	</script>
	</TD>
</TR>
<TR id="q1" style="display:none;">
	<TD nowrap align="right">$security_question_1*:</TD>
	<TD nowrap align="left">
	<select  name="question1" id="question1" size=1 >
		<option value="0" selected>$select_a_question</option>
		<option value="1">$quest1_1</option>
		<option value="2">$quest1_2</option>
                <option value="3">$quest1_3</option>
                <option value="4">$quest1_4</option>
                <option value="5">$quest1_5</option>
                <option value="6">$quest1_6</option>
                <option value="7">$quest1_7</option>
                <option value="8">$quest1_8</option>
                <option value="9">$quest1_9</option>
	</select>
	</TD>
</TR>
<TR id="a1" style="display:none;">
	<TD nowrap align="right">$answer*:</TD>
	<TD nowrap  align="left">
	<input type="text" autocomplete="off" maxLength="64" size="30" name="answer1" id="answer1"  onFocus="this.select();change_answer1(this);" >
	</TD>
</TR>
<TR id="q2" style="display:none;">
	<TD nowrap align="right">$security_question_2*:</TD>
	<TD nowrap align="left">
	<select  name="question2" id="question2" size=1>
		<option value="0" selected>$select_a_question</option>
                <option value="1">$quest2_1</option>
                <option value="2">$quest2_2</option>
                <option value="3">$quest2_3</option>
                <option value="4">$quest2_4</option>
                <option value="5">$quest2_5</option>
                <option value="6">$quest2_6</option>
                <option value="7">$quest2_7</option>
                <option value="8">$quest2_8</option>
	</select>
	</TD>
</TR>
<TR id="a2" style="display:none;">
	<TD nowrap align="right">$answer*:</TD>
	<TD nowrap  align="left">
	<input type="text" autocomplete="off" maxLength="64" size="30" name="answer2" id="answer2" onFocus="this.select();change_answer2(this);" >
	</TD>
</TR>
<TR id="req" style="display:none;">
        <TD nowrap align="right">$required_information</TD>
        <TD nowrap  align="left">
        </TD>
</TR>
<TR id="time" style="display:none;">
        <TD nowrap colspan=2>
	<script>
		if(top.security_enhance_flag)
		document.write("$passwd_was_reset:");
		else
		document.write("$last_time_password_was_recovered:");
	</script>
        <b><script>document.write(ec_time)</script></b>
        </TD>
</TR>

$bluebar
</TABLE>
</div>
<% help_box("0","_passwd") %>
</FORM>
</BODY>
<script>
var ts = "<% cfg_get("passwd")%>";
var security_enhance_flag= top.security_enhance_flag;
if(security_enhance_flag)
{
var answer1_empty="<% answer_empty("PWD_answer1") %>";
var answer2_empty="<% answer_empty("PWD_answer2") %>";
var focus_trigger_flag1 = 0;
var focus_trigger_flag2 = 0;
}
var wait = 1000;
var timeoutID = null;
function debounce() {
	if(security_enhance_flag){
		clearTimeout(timeoutID);
		timeoutID = setTimeout(function() {
	   	validatepassword();
	  	}, wait);
	 }
};

function init_answer()
{
	var form=document.forms[0];
	if( answer1_empty == "0" )
	{
		if( get_browser() == "Firefox" )
			form.answer1.type = "text";
		else
			form.answer1.outerHTML='<input type="text" autocomplete="off" maxLength="64" size="30" name="answer1" id="answer1"  onFocus="this.select();change_answer1(this);" >';

	}
	else if( get_browser() == "IE" )
	{
		form.answer1.outerHTML ='<input type="password" autocomplete="off" maxLength="64" size="30" name="answer1" id="answer1"  onFocus="this.select();change_answer1(this);" >';
	}
	if( answer2_empty == "0" )
	{
		if( get_browser() == "Firefox" )
			form.answer2.type = "text";
		else
			form.answer2.outerHTML='<input type="text" autocomplete="off" maxLength="64" size="30" name="answer2" id="answer2"  onFocus="this.select();change_answer2(this);" >';

	}
	else if( get_browser() == "IE" )
	{
		form.answer2.outerHTML ='<input type="password" autocomplete="off" maxLength="64" size="30" name="answer2" id="answer2"  onFocus="this.select();change_answer2(this);" >';
	}

	
	if(answer1_empty == "0")
		form.answer1.value = "";
	else
		form.answer1.value = "******";
	if(answer2_empty == "0")
		form.answer2.value = "";
	else
		form.answer2.value = "******";

}

function loadvalue()
{
	cf = document.forms[0];
	if(security_enhance_flag)
	{
		document.getElementById("apply").disabled = true;	
		document.getElementById("apply").className ="apply1_bt";
		document.getElementById("pwd_warn").src="image/warning_flag.jpg";
		document.getElementById("passwd_hint_content").style.backgroundImage="url(../image/passwd_bg.jpg)";
	}

	enable_rec="<% cfg_get("enable_password_recovery") %>";
	ques1="<% cfg_get("PWD_question1") %>";
	answ1="<% cfg_sed_xss("PWD_answer1") %>";
	ques2="<% cfg_get("PWD_question2") %>";
	answ2="<% cfg_sed_xss("PWD_answer2") %>";

	if(ques1=="")/*bug 30097 The default setting for Security Question #1 and #2 item in GUI is wrong by IE browser*/
		ques1="0";
	if(ques2=="")
		ques2="0";
	
	if( enable_rec == "1" )
		cf.enable_recovery.checked=true;
		
	else
		cf.enable_recovery.checked=false;

	change_password_recovery();
	if(security_enhance_flag)
	{
		init_answer();
	}
	cf.question1.value=ques1;
	cf.answer1.value=answ1.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&").replace(/&#92;/g, "\\");
	cf.question2.value=ques2;
	cf.answer2.value=answ2.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&").replace(/&#92;/g, "\\");	
}

function change_password_recovery()
{
	cf = document.forms[0];
	 if( cf.enable_recovery.checked == true )
        {
                document.getElementById("q1").style.display="";
                document.getElementById("a1").style.display="";
                document.getElementById("q2").style.display="";
                document.getElementById("a2").style.display="";
		document.getElementById("req").style.display="";
                document.getElementById("time").style.display="";

        }
        else
        {
                document.getElementById("q1").style.display="none";
                document.getElementById("a1").style.display="none";
                document.getElementById("q2").style.display="none";
                document.getElementById("a2").style.display="none";
		document.getElementById("req").style.display="none";
                document.getElementById("time").style.display="none";

        }

}

</script>
</HTML>
