<% ca_http_header("style/hijack_style.css","style/hijack_ru_welcome.css", "/funcs.js", "/bas_ether.js", "/RU_welcome.js") %>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM>
	
<script>
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";
var gui_region="<% cfg_get("GUI_Region") %>";
var dns_third_flag=0;

function loadvalue()
{
	var form=document.forms[0];
	
	var ether_get_ip=parent.static_ip;
	if(ether_get_ip!="")
	{
		form.WANAssign[1].checked = true;
		var ip_array=ether_get_ip.split('.');
		form.WPethr1.value=ip_array[0];
		form.WPethr2.value=ip_array[1];
		form.WPethr3.value=ip_array[2];
		form.WPethr4.value=ip_array[3];
	}else
		form.WANAssign[0].checked = true;
	setIP(form);
	var ether_get_subnet=parent.static_subnet;;
	if(ether_get_subnet!="")
	{
		var mask_array=ether_get_subnet.split('.');
		form.WMask1.value=mask_array[0];
		form.WMask2.value=mask_array[1];	
		form.WMask3.value=mask_array[2];
		form.WMask4.value=mask_array[3]; 
	}
	
	var ether_get_gateway=parent.static_gateway;
	if(ether_get_gateway!="")
	{
		var gtw_array=ether_get_gateway.split('.');
		form.WGateway1.value=gtw_array[0];
		form.WGateway2.value=gtw_array[1];
		form.WGateway3.value=gtw_array[2];
		form.WGateway4.value=gtw_array[3];	
	}
	
	if(parent.static_dns1 == "" && parent.static_dns2 == "")
		form.DNSAssign[0].checked = true;
	else
		form.DNSAssign[1].checked = true;
		
	setDNS(form);
	var ether_get_dns1=parent.static_dns1;
	if (ether_get_dns1!="")
	{
		var dns1_array=ether_get_dns1.split('.');
		form.DAddr1.value=dns1_array[0];
		form.DAddr2.value=dns1_array[1];
		form.DAddr3.value=dns1_array[2];
		form.DAddr4.value=dns1_array[3];
	}
	var ether_get_dns2=parent.static_dns2;
	if (ether_get_dns2!="")
	{
		var dns2_array=ether_get_dns2.split('.');
		form.PDAddr1.value=dns2_array[0];
		form.PDAddr2.value=dns2_array[1];
		form.PDAddr3.value=dns2_array[2];
		form.PDAddr4.value=dns2_array[3];
	}

        //buttons left
        var btns_div1 = document.getElementById("btnsContainer_div1");
		if( master == "admin" )
		{
			btns_div1.onclick = function()
			{
				location.href="RU_MC_login.htm";
			}
		}

        //buttons right
        var btns_div2 = document.getElementById("btnsContainer_div2");
		if( master == "admin" )
		{
			btns_div2.onclick = function()
			{
                check_RU_dhcp_static();
			}
		}


}
</script>

<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="ether_ipaddr">
<input type="hidden" name="ether_subnet">
<input type="hidden" name="ether_gateway">
<input type="hidden" name="ether_dnsaddr1">
<input type="hidden" name="ether_dnsaddr2">

<div class="wizard_content_div">
<div class="wizard_words_div">
	<H1><script>document.write(RU_CA_head)</script></H1>
<TABLE width=100%>
<TR><TD colspan=2 ><script>document.write(RU_login_no_str)</script></TD></TR>
<TR><TD colspan=2><br></TD></TR>
<TR><TD colspan=2 align=center><script>document.write(basic_int_intip)</script></TD></TR>

<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="WANAssign" value="dhcp" checked onClick="setIP(document.forms[0])"><script>document.write(basic_int_autoip)</script>
	</TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="WANAssign" value="static" onClick="setIP(document.forms[0])"><script>document.write(basic_int_static_ip)</script>
	</TD>
</TR>
<TR>
	<TD><script>document.write(bh_info_mark_ip)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="WPethr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WPethr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD><script>document.write(lan_mark_subnet)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="WMask1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WMask2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>
<TR>
	<TD><script>document.write(lan_mark_gateway)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="WGateway1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WGateway2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>

<TR>
	<TD colspan=2 align=center><script>document.write(basic_dns)</script></TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DNSAssign" value="0" checked onClick="setDNS(document.forms[0])"><span><script>document.write(basic_int_autodns)</script></span>
	</TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DNSAssign" value="1" onClick="setDNS(document.forms[0])"><script>document.write(basic_int_these)</script>
	</TD>
</TR>
<TR>
	<TD nowrap><script>document.write(basic_int_primary_dns)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="DAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="DAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD nowrap><script>document.write(basic_int_second_dns)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="PDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="PDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">	
	</TD>
</TR>
<TR id=third_dns style="display: none">
        <TD nowrap><img src=/spacer.gif width=20 height=12 border=0>$basic_int_third_dns</TD>
        <TD nowrap align=right>
        <input type="text" name="TDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
        <input type="text" name="TDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
        <input type="text" name="TDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
        <input type="text" name="TDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
        </TD>
</TR>

</TABLE>
</div><!--wizard_words_div -->
<div id="center_buttons">
  <div id="allBtns_div" class="wizard_buttons_div" align="center">
                <div id="btnsContainer_div1" class="buttons_img_div" align="center">
                        <script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							document.write('<img src="image/ca-little-grey-button.png" />');
                        </script>
                        <div class="buttons_words_div"><script>document.write(RU_back)</script></div>
                </div>
                <div class="buttons_split"></div>
                <div id="btnsContainer_div2" class="buttons_img_div" align="center">
						<script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							
							document.write('<img src="image/ca-little-grey-button.png" />');
						</script>
                        <div class="buttons_words_div"><script>document.write(RU_next)</script></div>
                </div>
  </div><!--allBtns_div -->
</div>
</div><!--wizard_content_div -->
<script>scroll_show();</script>
</FORM>
</BODY>
</HTML>
