<% ca_http_header("style/hijack_style.css","style/hijack_ru_welcome.css", "/funcs.js", "/bas_pppoe.js") %>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM>
	
<script>
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";

function loadvalue()
{
	var form=document.forms[0];
	var dual_assign=parent.pppoe_dual_assign;
	if(dual_assign == '0')
		form.DualAssign[0].checked = true;
	else
		form.DualAssign[1].checked = true;
		
	setdualIP(form);
	var ether_get_ip=parent.pppoe_eth_ip;
	if (ether_get_ip!="")
	{
		var eip_array=ether_get_ip.split('.');
		form.Duethr1.value=eip_array[0];
		form.Duethr2.value=eip_array[1];
		form.Duethr3.value=eip_array[2];
		form.Duethr4.value=eip_array[3];
	}
	var ether_get_subnet=parent.pppoe_eth_netmask;
	if (ether_get_subnet!="")
	{
		var mask_array=ether_get_subnet.split('.');
		form.DuMask1.value=mask_array[0];
		form.DuMask2.value=mask_array[1];	
		form.DuMask3.value=mask_array[2];
		form.DuMask4.value=mask_array[3]; 
	}

        //buttons left
        var btns_div1 = document.getElementById("btnsContainer_div1");
		if( master == "admin" )
		{
			btns_div1.onclick = function()
			{
				location.href="RU_manu_local_resources.htm";
			}
		}

        //buttons right
        var btns_div2 = document.getElementById("btnsContainer_div2");
		if( master == "admin" )
		{
			btns_div2.onclick = function()
			{
                RU_check_pppoe_dual();
			}
		}

	
}
</script>

<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="pppoe_dual_ipaddr">
<input type="hidden" name="pppoe_dual_subnet">
<input type="hidden" name="pppoe_dual_assign">

<div class="wizard_content_div">
<div class="wizard_words_div">

<TABLE width=100%>
<TR><TD colSpan=2><H1><script>document.write(RU_CA_head)</script></H1></TD></TR>
<TR><TD colspan=2 ><script>document.write(RU_vpn_dual_head1)</script></TD></TR>
<TR><TD colspan=2><br></TD></TR>
<TR><TD colspan=2 align=center><script>document.write(RU_intra_ip)</script></TD></TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DualAssign" value="0" checked onClick="setdualIP(document.forms[0])"><script>document.write(basic_int_autoip)</script>
	</TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DualAssign" value="1" onClick="setdualIP(document.forms[0])"><script>document.write(basic_int_static_ip)</script>
	</TD>
</TR>

<TR>
	<TD><script>document.write(bh_info_mark_ip)</script></TD>
	<TD align=right>
	<input type="text" name="Duethr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="Duethr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="Duethr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="Duethr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD><script>document.write(lan_mark_subnet)</script></TD>
	<TD align=right>
	<input type="text" name="DuMask1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="DuMask2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DuMask3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DuMask4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>

<TR><TD colspan=2><br></TD></TR>

</TABLE>
</div><!--wizard_words_div -->
<div id="center_buttons">
  <div id="allBtns_div" class="wizard_buttons_div" align="center">
                <div id="btnsContainer_div1" class="buttons_img_div" align="center">
                        <script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							document.write('<img src="image/ca-little-grey-button.png" />');
                        </script>
                        <div class="buttons_words_div"><script>document.write(RU_back)</script></div>
                </div>
                <div class="buttons_split"></div>
                <div id="btnsContainer_div2" class="buttons_img_div" align="center">
						<script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							
							document.write('<img src="image/ca-little-grey-button.png" />');
						</script>
                        <div class="buttons_words_div"><script>document.write(bh_next_mark)</script></div>
                </div>
  </div><!--allBtns_div -->
</div>
</div><!--wizard_content_div -->
<script>scroll_show();</script>
</FORM>
</BODY>
</HTML>
