<% echo_set("WLG_adv.htm", "/tmp/p_ft") %>
<% http_header("style/form.css", "/funcs.js", "/wlan_adv.js", "/wadv_sechdule.js", "/advanced.js", "/basic.js") %>
<% body_header("_wladv", "WLG_adv.htm", "wlan_adv") %>
<div class="page_title">$wlan_adv_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
	<input class='cancel_bt' type='button' name="Cancel" value='$cancel_mark' onClick='location.href="WLG_adv.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type="button" name="Apply" value="$apply_mark" onClick="return checkadv(document.forms[0]);">
        </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
<% save_timestamp("wlan_adv", "wireless_schedule_select_to_edit", "wireless_schedule_delete", "wireless_schedule_delete_an") %>
var ts="<% cfg_get("wlan_adv") %>";

var gui_region="<% cfg_get("GUI_Region") %>";
var netgear_region="<% get_firmware_region() %>";
if(netgear_region == "")
	netgear_region = "WW";
var country="<% cfg_get("wl_country") %>";
var wps_progress_status="<% wps_process_status() %>";

//wireless schedule
var ntp_updated = "<% access_file("/tmp/ntp_updated") %>";
<% wireless_schedule_items() %>
var enable_schedule = "<% cfg_get("wladv_schedule_enable") %>";// b/g/n

//For BUG 33420 to show transmit power control 63% and 33%
var txctl_63_33_flag = parent.txctl_63_33_flag;

// b/g/n
var old_wds_endis_fun="<% cfg_get("wds_endis_fun") %>";
var old_wds_repeater_basic="<% cfg_get("wds_repeater_basic") %>";
var old_endis_wl_radio='<% enable_ap_orNot("bgn") %>';
var security_mode='<% cfg_get("wl_sectype") %>';
var wlan_adv_wpspin="<% pin_num() %>";
var wlendis_pin='<% cfg_get("endis_pin") %>';
var wlendis_pin_tmp='<% cfg_get("wps_lock_down") %>';
var wps_status='<% cfg_get("wps_status") %>';
var wla_wps_status='<% cfg_get("wla_wps_status") %>';
var endis_wl_wmm="<% cfg_get("endis_wl_wmm") %>";
var wl_mode="<% cfg_get("wl_simple_mode") %>";

var qos_router_flag = parent.qos_router_flag;
var transmit_router_flag = parent.transmit_router_flag;
var guest_router_flag=parent.guest_router_flag;
var apmode_flag=parent.apmode_flag;
var adv_coexistence_flag=top.adv_coexistence_flag;

var wds_support_wpa = top.wds_support_wpa;
var pr_flag = (( gui_region == "Chinese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "PR") ? 1 : 0
var pr_wds_support_wpa=( wds_support_wpa == 1  && pr_flag == 1) ? 1 : 0;

var wps_protect='<% cfg_get("wps_pin_attack_check") %>';
var enable_ap_flag="<% cfg_get("ap_mode") %>";//bug 22880 according to the page 128 of spec 2.0,add AP mode
var dyn_get_ip_flag="<% cfg_get("ap_ether_ip_assign") %>";
var dyn_get_dns_flag="<% cfg_get("ap_ether_dns_assign") %>";

//Enable 20/40 MHz Coexistence: 0: enable, 1: disabled
var wl_disablecoext="<% cfg_get("wl_disablecoext") %>";

var wps_alert="<% cfg_get("wps_alert") %>";
<% cfg_set("wps_alert", "0") %>

function wps_protection_display()
{
	var cf=document.forms[0];
	if ( cf.pin_enable.checked == false || cf.pin_enable.disabled == true)
		document.getElementById("wladv_appin_cfg").style.display="none";
	else
		document.getElementById("wladv_appin_cfg").style.display="";
	if (cf.protect_enable.checked == false)
		cf.wps_fail_count.disabled = true;
	else
		cf.wps_fail_count.disabled = false;
}

function change_web_format()
{

	if( adv_coexistence_flag == 1 )
		document.getElementById("coexistence_line").style.display="";
        else
                document.getElementById("coexistence_line").style.display="none";

		
		//bug 21638:remove the "Enable Wireless Isolation" in advanced wireless settings page
		//spec1.9-p125:It is a checkbox "Enable Wireless Isolation" below "Enable Wireless Router Radio" 
		//in the "Advanced Wireless Settings" page if the product doesn't support guest network.
		
		if( qos_router_flag == 0 )
                document.getElementById("wmm_qos").style.display="";
        else
                document.getElementById("wmm_qos").style.display="none";

	if( transmit_router_flag == 1 )
		document.getElementById("power_ctrl_bgn").style.display="";
	else
		document.getElementById("power_ctrl_bgn").style.display="none";

		document.getElementById("schedule_bgn_enable").style.display="";
		document.getElementById("schedule_bgn_head").style.display="";
		document.getElementById("schedule_bgn_table").style.display="";
		document.getElementById("schedule_bgn_button").style.display="";

	if(top.access_control_flag == 0 )
	{
		document.getElementById("wlan_access").style.display="";
		document.getElementById("ap_bluebar").style.display="";
	}
	else
	{
		document.getElementById("wlan_access").style.display="none";
		document.getElementById("ap_bluebar").style.display="none";
	}
}

function loadvalue()
{
	var form=document.forms[0];

	top.enable_ap_flag="<% cfg_get("ap_mode") %>";	
	//bug 29873 [Wireless]The GUI should show wireless radio as checked when user enable wireless router radio
	change_web_format();
	
	top.enabled_wps="<% wps_menu() %>";
	top.enabled_wds="<% wds_enable() %>";
        if( top.location.href.indexOf("adv_index.htm") != -1 )
                menu_color_change('wladv');
        else //bug23925 in basic page: if the radio is Off, the wireless button will link to wladv page.
	{
		top.endis_wl_radio=old_endis_wl_radio;
		basic_menu_color_change('wireless');
	}


	var wlan_get_pream='<% cfg_get("wl_plcphdr") %>';

	if(wlan_get_pream == '2')
		form.enable_shortpreamble[2].selected = true;
	else if (wlan_get_pream == '1')
		form.enable_shortpreamble[1].selected = true;
	else
		form.enable_shortpreamble[0].selected = true;

	form.tx_power_ctrl.value='<% cfg_get("wl_tpscale") %>';

	form.rts.value = '<% cfg_get("wl_rts") %>';

	form.frag.value = '<% cfg_get("wl_frag") %>';
	
	if(old_endis_wl_radio=='1')
		form.enable_ap.checked = true;
	else
		form.enable_ap.checked = false;

	// Enable 20/40 MHz Coexistence
/*41418	if(wl_mode == "1" || wl_mode == "2")
	{
		getObj('coexistence_line').color = 'gray';
		form.enable_coexist.checked = false;
		form.enable_coexist.disabled=true;
	}
	else
	{*/
		if( wl_disablecoext == "0" )
			form.enable_coexist.checked = true;
		else
			form.enable_coexist.checked = false;
//	}
	//wireless schedule
	if(enable_schedule == "1")
		form.wirless_schedule.checked = true;
	else
		form.wirless_schedule.checked = false;

	check_schedule_onoff();

	if(endis_wl_wmm == "1")
		form.wmm_enable.checked = true;
	else
		form.wmm_enable.checked = false;

	if((wlendis_pin == '1') || (wlendis_pin_tmp == '1'))
	{
		form.pin_enable.checked = false;
	}
	else
	{
		form.pin_enable.checked = true;
	}
	/*bug28582 There should be only one "Keep Existing Wireless Settings" option.*/
	if (wps_status == '5')
		form.wsc_config.checked = true;
	else if (wps_status == '1')
		form.wsc_config.checked = false;
	if ((wlendis_pin == '1') || (wlendis_pin_tmp == '1'))
	{
		getObj('wladv_pin').color = 'gray';
	}

	if (wps_protect == '0')
		form.protect_enable.checked = false;
	else
		form.protect_enable.checked = true;
					
	wps_protection_display();
	if(top.enabled_wps == 0)   //33156
	{
		getObj('wladv_pin').color = 'gray';	
		getObj('wladv_enable_wps').color = 'gray';
		getObj('wladv_keep_exist').color = 'gray';	
		form.pin_enable.disabled=true;
		form.wsc_config.disabled=true;		
		getObj('wladv_appin_cfg').color = 'gray';
		form.wps_fail_count.disabled = true;
		form.protect_enable.disabled = true;
	}

	showWps_alert();
}
</script>
<input type="hidden" name="wl_rts">
<input type="hidden" name="wl_frag">
<input type="hidden" name="wl_enable_shortpreamble">
<input type="hidden" name="wl_tx_ctrl">
<input type="hidden" name="wl_enable_router" value="ignore">
<input type="hidden" name="endis_pin" value=1>
<input type="hidden" name="hid_protect_enable">

<input type="hidden" name="wds_change_ip">
<input type="hidden" name="enable_router" value="ignore">
<input type="hidden" name="enable_ssid_broadcast" value="ignore">
<input type="hidden" name="endis_wsc_config" value=5>

<input type="hidden" name="wladv_endis_wmm">
<input type="hidden" name="hid_dyn_get_ip">
<!--input type="hidden" name="hid_dyn_get_dns"-->
<input type="hidden" name="hid_ap_ipaddr">
<input type="hidden" name="hid_ap_subnet">
<input type="hidden" name="hid_ap_gateway">
<input type="hidden" name="ap_dnsaddr1">
<input type="hidden" name="ap_dnsaddr2">

<input type="hidden" name="wladv_enable_schedule" value="">
<input type="hidden" name="wladv_schedule_type" value="">
<input type="hidden" name="wladv_schedule_edit_num" value="">
<input type="hidden" name="wladv_schedule_delete_num" value="">
<input type="hidden" name="hid_enable_coexist">
<TR>
	<TD nowrap colspan=2>
	<A tabindex=-1 href="javascript:loadhelp('_wladv','settings')"><B>$adva_wlan_setting</B></A>
	</TD>
</TR>	
<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_ap" value="1" onClick="check_schedule_onoff();">$adva_wlan_router
	</TD>
</TR>
<TR id="coexistence_line">
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_coexist">$adva_enable_coexistence
	</TD>
</TR>
<TR id=wmm_qos>
	<TD nowrap><input type="checkbox" name="wmm_enable" value="1">$qos_enable_wmm </TD>
</TR>
<TR>
	<TD nowrap>$wlan_adv_szFrag_11g</TD>
	<TD nowrap>
	<input type="text" maxLength=4 size=5 name="frag" value="2346" onFocus="this.select();" onKeyPress="return getkey('num', event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$wlan_adv_szRts_11g</TD>
	<TD nowrap>
	<input maxLength=4 size=5 name="rts" value="2347" onFocus="this.select();" onKeyPress="return getkey('num', event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$adva_wlan_pream</TD>
	<TD nowrap>
	<select name="enable_shortpreamble">
		<option value="0">$sec_auto</option>
		<option value="1">$adva_wlan_pream_short</option>
		<option value="2">$adva_wlan_pream_long</option>
	</select>
	</TD>
</TR>
<TR id=power_ctrl_bgn>
	<TD nowrap>$adva_wlan_txctrl</TD>
	<TD nowrap>
	<select name="tx_power_ctrl">
		<option value="100">100%</option>
		<option value="75">75%</option>
<!-- For BUG 33420 to show transmit power control 63% and 33% -->
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="63">63%</option>');
</script>
		<option value="50">50%</option>
<script>
	if( txctl_63_33_flag == 1)
		document.write('<option value="33">33%</option>');
</script>
		<option value="25">25%</option>
	</select>
	</TD>
</TR>
<TR id="schedule_bgn_enable" ><TD colspan="2" nowrap ><input type="checkbox" name="wirless_schedule"  value="1" onClick="enable_schedule_button();"><A tabindex=-1 href="javascript:loadhelp('_wladv','schedule')"><b>$adva_signal_schedule</b></A></TD></TR>
<TR id="schedule_bgn_head"><TD colspan="2" nowrap><b>$adva_schedule_table_head</b></TD></TR>
<TR id="schedule_bgn_table">
	<TD colspan="2" nowrap>
	<TABLE border="1" cellpadding="2" cellspacing="1" width="80%" align="left">
	<TR>
		<TD nowrap width="15%" align="left"><span class="subhead">$adva_period</span></TD>
		<TD nowrap width="20%" align="left"><span class="subhead">$adva_start</span></TD>
		<TD nowrap width="20%" align='left'><span class="subhead">$adva_end</span></TD>
		<TD nowrap align="left"><span class="subhead">$adva_recur_pattern</span></TD>
	</TR>
	<script>
	if(wireless_schedule_num > 0)
	{
		var i = 0, j = 0, n = 0;

		for(i=1; i<=wireless_schedule_num; i++)
		{
			var str = eval("wireless_schedule_array" + i);
			str = remove_space(str);
			var each_info = str.split("-");

			document.write('<TR>');
			document.write('<TD nowrap align="center"><input type="radio" name="wireless_schedule_item" value="'+i+'"></TD>');
			if((gui_region=="German" && netgear_region=="WW") || netgear_region=="GR")
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_24[n]+'</TD>');
			}
			else
			{
				n = parseInt(each_info[0], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');

				n = parseInt(each_info[1], 10);
				document.write('<TD nowrap align="left">'+hour_schedule_12[n]+'</TD>');
			}

			document.write('<TD nowrap align="left">');
			if(each_info[2] == "Daily")
				document.write("$email_daily");
			else if(each_info[2] == "")
				document.write("&nbsp;");
			else
			{
				var day_num = each_info[2].split(",");
				for(j=0; j<day_num.length; j++)
				{
					n = parseInt(day_num[j], 10);
					document.write(week_days[n] + " ");
				}
				document.write('</TD>');
				document.write('</TR>');
			}
		}
	}
	</script>
	</TABLE>
	</TD>
</TR>
<TR id="schedule_bgn_button"><TD colspan=2 align="center" nowrap>
	<input type="button" name="add_period" value="$adva_period_add" onClick='return check_wireless_schedule("bgn", "add");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="edit_period" value="$edit_mark" onClick='return check_wireless_schedule("bgn", "edit");'>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" name="delete_period" value="$delete_mark" onClick='return check_wireless_schedule("bgn", "delete");'>
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>
	<B><A tabindex=-1 href="javascript:loadhelp('_wladv','wps')">$wlan_adv_wps</A></B>
	</TD> 
</TR>
<TR id='wladv_pin'>
	<TD nowrap>$wlan_adv_routerpin:</TD>
	<TD nowrap><B>$<script>document.write(wlan_adv_wpspin);</script></B></TD>
</TR>
<TR id='wladv_enable_wps'>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="pin_enable" value=1 onClick="wps_protection_display()">$wlan_adv_enable_pin<script>if( "<% cfg_get("wps_lock_down") %>" == "1" ) document.write("$temporarily_mark_v11");</script>
	</TD>
</TR>
<TR id='wladv_appin_cfg'>
	<TD nowrap colspan=2 ><img src=/spacer.gif width=20 height=12 border=0>
	<input type="checkbox" name="protect_enable" onClick="wps_protection_display()">$wlan_adv_wps_pin1
	<input type="text" name="wps_fail_count" size="3" maxlength="3" value="<% cfg_get("wps_pin_attack_num") %>" onKeyPress="return getkey('num', event)">$wlan_adv_wps_pin2
	<BR><img src=/spacer.gif width=20 height=12 border=0><img src=/spacer.gif width=20 height=12 border=0>$wlan_adv_wps_pin3
	</TD>
</TR>
<!--bug28582 There should be only one "Keep Existing Wireless Settings" option.-->
<TR id='wladv_keep_exist'>
	<TD nowrap colspan=2 >
	<input type="checkbox" name="wsc_config" value="on">$wlan_adv_keep <!--<script> if( an_router_flag == 1) document.write("(2.4GHz b/g/n)");</script>-->
	</TD>
</TR>
<TR id=ap_bluebar><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
<TR id="wlan_access">
	<TD nowrap>
	<A tabindex=-1 href="javascript:loadhelp('_wladv','access')"><B>$wlan_wlacl</B></A>
	</TD>
	<TD nowrap>
	<input class="common_big_bt" type="button" name="access" value="$setup_acl" onClick="location.href='WLG_acl.htm'">
	</TD>
</TR>
<TR><TD>&nbsp;</TD></TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_wladv") %>
</FORM>
</BODY>
</HTML>
