<% cfg_set("set_wireless_tag", "0") %>
<% http_header("style/form.css", "/funcs.js", "/wlan.js") %>
<% body_header_alt("_wlan", "WLG_wireless.htm", "wlan") %>
<div class="page_title">$wlan_mark</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
	<input class="cancel_bt" type='button' name="Cancel" id="cancel" value='$cancel_mark' onClick='location.href="WLG_wireless.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type='button' name="Apply" id="apply" value='$apply_mark' onclick='return check_wlan();'>
        </TD>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
var netgear_region=top.netgear_region;
var host_name=parent.host_name;
var wds_support_wpa = top.wds_support_wpa;
var gui_region="<% cfg_get("GUI_Region") %>"
var pr_flag = (( gui_region == "Chinese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "PR") ? 1 : 0
var pr_wds_support_wpa=( wds_support_wpa == 1  && pr_flag == 1) ? 1 : 0;

<% all_mode_strings() %>

var msg = "<% string_warning("bgn") %>";

var lanIP = "<% cfg_get("lan_ipaddr") %>";
var lanSubnet = "<% cfg_get("lan_netmask") %>";
var wanIP = "<% wan_ip() %>";
var wanSubnet = "<% wan_netmask() %>";

var str_wpae="";
var str_none="";
var str_wep="";
var str_wpa="";
var str_wpa2="";
var str_wpas="";

var StartChannel = new Array(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1); 
var FinishChannel = new Array(11,13,13,13,13,13,13,13,11,11,13,13,13); //middle east move up two line
//bug 23854:The dialogue of DFS channel is not implemented

<% show_wlan_variable() %>

</script>
<input type="hidden" name="hidden_wlan_mode">
<input type="hidden" name="hidden_wlan_channel">
<input type="hidden" name="generate_flag">
<input type="hidden" name="old_length">
<input type="hidden" name="wl_sec_wpaphrase_len">
<input type="hidden" name="wl_hidden_wpa_psk">
<input type="hidden" name="wla_hidden_wpa_psk">
<input type="hidden" name="hidden_sec_type">
<input type="hidden" name="wep_press_flag">
<input type="hidden" name="wpa1_press_flag" value=0>
<input type="hidden" name="wpa2_press_flag" value=0>
<input type="hidden" name="wpas_press_flag" value=0>
<input type="hidden" name="wps_change_flag" value="<% cfg_get("wps_status") %>">
<input type="hidden" name="hidden_enable_guestNet">
<input type="hidden" name="hidden_enable_ssidbro">
<input type="hidden" name="hidden_allow_guest">
<input type="hidden" name="radiusServerIP">
<input type="hidden" name="opmode_bg">
<input type="hidden" name="wl_mode">

<input type="hidden" name="wl_ssid">
<input type="hidden" name="wl_WRegion">
<input type="hidden" name="wl_hidden_wlan_channel">
<input type="hidden" name="wl_hidden_wlan_mode">
<input type="hidden" name="wl_hidden_sec_type">

<input type="hidden" name="hidden_WpaeRadiusSecret">
<input type="hidden" name="hidden_WpaeRadiusSecret_a">

<input type="hidden" name="wl_enable_ssid_broadcast">
<input type="hidden" name="hidden_enable_video">

<input type="hidden" name="wl_tx_ctrl">
<input type="hidden" name="wl_apply_flag" value="0">
<TR> 
	<TD nowrap colspan=2><A tabindex=-1 href="javascript:loadhelp('_wlan','network')"><B>$wlan_network_mark</B></A></TD>
</TR>
<TR id=ssid_bc_bgn>
	<TD nowrap>
	<input type="checkbox" name="ssid_bc" id="enable_ssid_bc" value="1">$adva_wlan_ssid_broadcast
	</TD>
</TR>
<TR> 
	<TD nowrap width=35%>$wlan_mark_ssid:</TD>
	<TD nowrap><input type="text" name="ssid" id="ssid" value="<% cfg_get_ssid_value("wl_ssid") %>" size="20" maxlength="32"></TD>
</TR>
<tr style="display:none">
	<td><input type="text" name="wla1ssid" value="<% cfg_get_ssid_value("wla1_ssid") %>" size="20" maxlength="32"></td>
	<td><input type="text" name="wlg1ssid" value="<% cfg_get_ssid_value("wlg1_ssid") %>" size="20" maxlength="32"></td>
</tr>
<script>
	document.write('<TR> <TD nowrap width=35%>$wlan_mark_reg:</TD><TD nowrap>');
	if(netgear_region.toUpperCase() == "NA" || netgear_region.toUpperCase() == "JP")
		document.write('<select name="WRegion" id="wireless_region" size="1" onchange="setChannel();" disabled="disabled">');
	else
		document.write('<select name="WRegion" id="wireless_region" size="1" onchange="setChannel();">');
		document.write('<option value=0>$coun_af</option>');
		document.write('<option value=1>$coun_as</option>');
		document.write('<option value=2>$coun_au</option>');
		document.write('<option value=4>$coun_eu</option>');
		document.write('<option value=5>$coun_is</option>');
		document.write('<option value=6>$coun_jp</option>');
		document.write('<option value=7>$coun_ko</option>');
		document.write('<option value=10>$coun_na</option>');
		document.write('<option value=8>$coun_mx</option>');
		document.write('<option value=22>$coun_middle_east</option>');
		document.write('<option value=19>$coun_ru</option>');
		document.write('<option value=9>$coun_sa</option>');

	document.write('</select></TD></TR>');
	document.getElementsByName("WRegion")[0].value = wl_get_countryA;
</script>
<TR> 
	<TD nowrap width=35%>$wlan_mark_chan:</TD>
	<TD nowrap>
	<select name="w_channel" id="wireless_channel" size="1">
		<option id="auto" selected>$auto_mark</option>
		<option>01</option>
		<option>02</option>
		<option>03</option>
		<option>04</option>
		<option>05</option>
		<option>06</option>
		<option>07</option>
		<option>08</option>
		<option>09</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
	</select>
	</TD>
</TR>
<script>
	if(old_wds_endis_fun == "1")
	{
		document.getElementById("auto").disabled = true;
	}
</script>
<TR> 
	<TD nowrap width=35%>$wlan_mark_mode:</TD>
	<TD nowrap id="opmode_all">
	<select name="opmode" id="opmode" size="1" onchange="wl_sectype_change()">
		<option value="1"><script>document.write(wlan_mode_1);</script></option>
		<option value="2"><script>document.write(wlan_mode_2);</script></option>
		<option value="3"><script>document.write(wlan_mode_3);</script></option>
        </select>
	</TD>
	<TD nowrap id="opmode_54" style="display:none">
	<select name="opmode54" size="1" onchange="wl_54_sectype_change()">
		<option value="1"><script>document.write(wlan_mode_1);</script></option>		
    </select>
	</TD>
</TR>
$bluebar
</TABLE>

<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<TD nowrap colspan=2><A tabindex=-1 href="javascript:loadhelp('_wlan','security')"><B>$sec_type</B></A></TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_disable" value="Disable" onClick=setSecurity(1) AccessKey="N">$sec_off
	<TD>
</TR>
<TR id="wep_54">
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_wep" value="WEP" onClick=setSecurity(2)>$sec_wep
	</TD>
</TR>
<TR id="wpa_psk_54">
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_wpa" value="WPA-PSK" onClick=setSecurity(3)>$sec_wpa
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_wpa2" value="WPA2-PSK" onClick=setSecurity(4)>$sec_wpa2
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_auto" value="AUTO-PSK" onClick=setSecurity(5)>$sec_wpas
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input type="radio" name="security_type" id="security_wpa_enter" value="WPA-Enterprise" onClick=setSecurity(6)>$sec_wpa_enterprise
	</TD>
</TR>
</TABLE>

<div id=view></div>

<div align="center" ID="none" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	<TR>
		<TD nowrap colspan=2></TD>
	</TR>
	</TABLE>
</div>   

<div align="center" ID="wep" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wep')"><B>$sec_enc_head</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$sec_auth</TD>
		<TD nowrap>
			<select NAME="authAlgm" id="wep_auth_type" size="1">
				<option value=1 <% select_check("wl_auth", "1") %> >$sec_share</option>
				<option value=2 <% select_check("wl_auth", "2") %> >$sec_auto</option>
			</select>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$sec_enc</TD>
		<TD nowrap> 
			<select NAME="wepenc" id="wep_enc_strength" size="1" onChange="changekeylen(document.forms[0]);">
				<option value=5  <% select_check("wl_key_length", "5") %> >$sec_64</option>
				<option value=13 <% select_check("wl_key_length", "13") %> >$sec_128</option>
			</select>
		</TD>
	</TR>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wepkey')"><B>$sec_key</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap colspan=2>
		<TABLE>
		<TR>
			<TD nowrap>$sec_key1
			<input type=radio NAME="wep_key_no" id="wep_key_no1" checked value="1">
			</TD>
			<TD nowrap>
			<input TYPE="TEXT" SIZE="document.forms[0].wepenc.value*2+8" autocomplete="off" MAXLENGTH="34" NAME="KEY1" ID="key1" VALUE="" OnFocus="this.maxLength=document.forms[0].wepenc.value*2;this.size=document.forms[0].wepenc.value*2+8;">
			</TD>
		</TR>
		<TR>
			<TD nowrap>$sec_key2
			<input type=radio NAME="wep_key_no" id="wep_key_no2" value="2">
			</TD>
			<TD nowrap>
			<input TYPE="TEXT" SIZE="document.forms[0].wepenc.value*2+8" autocomplete="off" MAXLENGTH="34" NAME="KEY2" ID="key2" VALUE="" OnFocus="this.maxLength=document.forms[0].wepenc.value*2;this.size=document.forms[0].wepenc.value*2+8;">
			</TD>
		</TR>
		<TR>
			<TD nowrap>$sec_key3
			<input type=radio NAME="wep_key_no" id="wep_key_no3" value="3">
			</TD>
			<TD nowrap><input TYPE="TEXT" SIZE="document.forms[0].wepenc.value*2+8" autocomplete="off" MAXLENGTH="34" NAME="KEY3" ID="key3" VALUE="" OnFocus="this.maxLength=document.forms[0].wepenc.value*2;this.size=document.forms[0].wepenc.value*2+8;">
			</TD>
		</TR>
		<TR>
			<TD nowrap>$sec_key4
			<input type=radio NAME="wep_key_no" id="wep_key_no4" value="4">
			</TD>
			<TD nowrap>
			<input TYPE="TEXT" SIZE="document.forms[0].wepenc.value*2+8" autocomplete="off" MAXLENGTH="34" NAME="KEY4" ID="key4" VALUE=""  OnFocus="this.maxLength=document.forms[0].wepenc.value*2;this.size=document.forms[0].wepenc.value*2+8;">
			</TD>
		</TR>
		</TABLE>
		</TD>
	</TR>
	</TABLE>
</div>

<div align="center" ID="wpa" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wpa-psk')"><B>$sec_type (WPA-PSK)</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$sec_phr :</TD>
		<TD nowrap>
		<input type="text" size="20" autocomplete="off" maxlength="64" name="passphrase" id="passphrase" value="<% cfg_sed_passphrase("wl_wpa1_psk") %>" onFocus="document.forms[0].wpa1_press_flag.value=1" onKeyPress="document.forms[0].wpa1_press_flag.value=1">
		<span class="optiondesc" id="wpaPwdPhrExtText">$sec_863_or_64h</span>
		</TD>
	</TR>
	</TABLE>
</div>
 
<div align="center" ID="wpa2" style="position:absolute;top:0;left:0;visibility:hidden">  
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wpa2-psk')"><B>$sec_type (WPA2-PSK)</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap>
		<span class="optiondesc" id="wpaPwdPhraseText">$sec_phr :</span>
		</TD>
		<TD nowrap>
		<input type="text" autocomplete="off" maxlength="64" size="20" name="passphrase" id="passphrase" value="<% cfg_sed_passphrase("wl_wpa2_psk") %>" onFocus="document.forms[0].wpa2_press_flag.value=1" onKeyPress="document.forms[0].wpa2_press_flag.value=1">
		<span class="optiondesc" id="wpaPwdPhrExtText">$sec_863_or_64h</span>
		</TD>
	</TR>
	</TABLE>
</div>

<div align="center" ID="wpas" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wpa-psk+wpa2-psk')"><B>$sec_type (WPA-PSK + WPA2-PSK)</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap>
		<span class="optiondesc" id="wpaPwdPhraseText">$sec_phr :</span>
		</TD>
		<TD nowrap>
		<input type="text" autocomplete="off" size="20" maxlength="64" name="passphrase" id="passphrase" value="<% cfg_sed_passphrase("wl_wpas_psk") %>" onFocus="document.forms[0].wpas_press_flag.value=1" onKeyPress="document.forms[0].wpas_press_flag.value=1">
		<span class="optiondesc" id="wpaPwdPhrExtText">$sec_863_or_64h</span>
		</TD>	  
	</TR>
	</TABLE>
</div>

<div align="center" ID="wpae" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	$bluebar
	<TR>
		<TD nowrap colspan=2>
		<A tabindex=-1 href="javascript:loadhelp('_wlan','wpawpa2')"><B>$sec_type ( $sec_wpa_enterprise )</B></A>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$sec_wpa_mode</TD>
		<TD>
		<select name="wpae_mode" id="wpae_mode" size='1' onchange="wpaemode()">
			<option value='WPAE-TKIP'>WPA [TKIP]</option>
			<option value='WPAE-AES'>WPA2 [AES]</option>
			<option value='WPAE-TKIPAES'>WPA [TKIP] + WPA2 [AES]</option>
		</select>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$radius_serverIP</TD>
        <TD nowrap>
        <input type="text" size="3" autocomplete="off" maxlength="3" name="radiusIPAddr1" id="radius_ipaddress1" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
        <input type="text" size="3" autocomplete="off" maxlength="3" name="radiusIPAddr2" id="radius_ipaddress2" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
        <input type="text" size="3" autocomplete="off" maxlength="3" name="radiusIPAddr3" id="radius_ipaddress3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
        <input type="text" size="3" autocomplete="off" maxlength="3" name="radiusIPAddr4" id="radius_ipaddress4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
        </TD>  
	</TR>
	<TR>
		<TD nowrap>$radius_serverPort</TD>	
		<TD nowrap><input type="text" id="radius_port" size="20" maxlength="5" name="textWpaeRadiusPort" value="1812" onKeyPress="return getkey('num',event);"></TD>	
	</TR>	
	<TR>
		<TD nowrap>$radius_serverSecret</TD>	
		<TD nowrap><input type="text" id="radius_secret" autocomplete="off" size="20" maxlength="128" value="<% cfg_get_ssid_value("wl_radiusSecret") %>" name="textWpaeRadiusSecret" onKeyPress="return getkey('ssid', event)"></TD>	
	</TR>	
	</TABLE>
</div>

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
$bluebar
</TABLE>

</div> <!-- main -->
<% help_box("0","_wlan") %>
</FORM>
<script>
function change_web_format()
{
}

function setSecurity(num)
{
	if(num==2)
		opmode_disabled();
	else
	{
		opmode_abled();
		wl_sectype_change();
	}
	setSecurity_func(num);

	if(top.guest_router_flag == 1 && wlg1_sectype == 2)
		opmode_disabled();
}

function loadvalue()
{
	top.enabled_wds="<% wds_enable() %>";
	top.enabled_wps="<% wps_menu() %>";
	/* bug23114: after set wireless, the wps button in menu maybe need change to grey, so , refresh the menu color */
	if( top.location.href.indexOf("adv_index.htm") != -1 )
		top.menu_color_change('wireless');
	else
		top.basic_menu_color_change('wireless');

	var form=document.forms[0];
	
	change_web_format();	
	
	var channel=wl_get_channel;
	var mode="<% cfg_get("wl_simple_mode") %>";
	var opmode_bg="<% cfg_get("opmode_bg"); %>"
	if ( mode >= 3 )
		mode=3;

	if( mode == '1')
		form.opmode.options[0].selected = true;
	else if( mode == '2')
		form.opmode.options[1].selected = true;
	else
		form.opmode.options[2].selected = true;	
	
	if(old_endis_ssid_broadcast=='1')
                form.ssid_bc.checked = true;
        else
                form.ssid_bc.checked = false;

	setChannel();

	form.w_channel.value = channel;
	if(form.w_channel.selectedIndex == -1)
		form.w_channel.options[0].selected = true;
		
	str_none=getObj("none").innerHTML;
	str_none=str_none.replace(/\`/g, "&#96;");
	str_wep=getObj("wep").innerHTML;
	str_wep=str_wep.replace(/\`/g, "&#96;");
	str_wpa=getObj("wpa").innerHTML;
	str_wpa=str_wpa.replace(/\`/g, "&#96;");
	str_wpa2=getObj("wpa2").innerHTML;
	str_wpa2=str_wpa2.replace(/\`/g, "&#96;");
	str_wpas=getObj("wpas").innerHTML;
	str_wpas=str_wpas.replace(/\`/g, "&#96;");
	str_wpae=getObj("wpae").innerHTML;	
	str_wpae=str_wpae.replace(/\`/g, "&#96;");
	getObj("none").innerHTML='';	
	getObj("wep").innerHTML='';	
	getObj("wpa").innerHTML='';	
	getObj("wpa2").innerHTML='';	
	getObj("wpas").innerHTML='';	
	getObj("wpae").innerHTML='';	
	
	setSecurity(wl_sectype);
	var sectype=wl_sectype;	
	if ( wds_endis_fun == '0' || endis_wl_radio == '0' || pr_wds_support_wpa == 1)
		setDisabled(false,form.security_type[2],form.security_type[3],form.security_type[4]);
	else
		setDisabled(true,form.security_type[2],form.security_type[3],form.security_type[4]);

	if ( wds_endis_fun == '0' || endis_wl_radio == '0' )
		setDisabled(false,form.security_type[5]);
	else
		setDisabled(true,form.security_type[5]);

	//Bug 19665, should not be both set to wep in main network and guest network.
	var wl_guest_enable="<% cfg_get("wlg1_endis_guestNet") %>";
	var wl_guest_sectype="<% cfg_get("wlg1_sectype") %>";	
	if(wl_guest_enable==1 && wl_guest_sectype==2)
		form.security_type[1].disabled = true;
	
	form.security_type[parseInt(sectype)-1].checked=true;

	if(wl_sectype == '2')
	{
		var form=document.forms[0];
		var keyno=wl_get_keyno;
		var keylength=wl_get_keylength;
		changekeylen(document.forms[0]);
		form.wep_key_no[eval(keyno)-1].checked = true;
		form.KEY1.value=wl_key1;
		form.KEY2.value=wl_key2;
		form.KEY3.value=wl_key3;
		form.KEY4.value=wl_key4;
		form.old_length.value=keylength;
	}
	else if(wl_sectype==6)
	{
		form.wpae_mode.value = get_wpae_mode;
		if( get_radiusSerIp != "" && get_radiusSerIp != "0.0.0.0" )
		{
			radiusIPArray = get_radiusSerIp.split(".");
			form.radiusIPAddr1.value = radiusIPArray[0];
			form.radiusIPAddr2.value = radiusIPArray[1];
			form.radiusIPAddr3.value = radiusIPArray[2];
			form.radiusIPAddr4.value = radiusIPArray[3];
		}
		form.textWpaeRadiusPort.value = get_radiusPort;
	}		
	
	if( mode == '1')
		document.getElementById("wep_54").style.display="";
	else
		document.getElementById("wep_54").style.display="none";

	if(top.guest_router_flag == 1)//42382
	{
		if(wlg1_sectype == 2 || wl_sectype == 2)//45001
			opmode_disabled();
		else
			opmode_abled();
	}

	showWps_alert();
}

function KeyDown(e)
{
	var currKey=0, e=e||window.event;
	currKey= e.keyCode||e.which||e.charCode;

	if((e.altKey)&&(e.keyCode==53))
	{
		document.forms[0].opmode.value = 2;
	}
	else if((e.altKey)&&(e.keyCode==52))
	{
		document.forms[0].opmode.value = 3;
	}
	else if((e.altKey)&&(e.keyCode==48))
	{
		document.forms[0].Apply.selected=true;
		if(check_wlan())
			document.forms[0].submit();
	}
}
</script>
</BODY>
</HTML>
