config config 'config'
	option Enable                           '0'
	option MatchingSSID                     ''
	option PHYBasedPrioritization           '0'

config IdleSteer 'IdleSteer'
	option RSSISteeringPoint_DG             '5'
	option RSSISteeringPoint_UG             '10'
	option NormalInactTimeout               '5'
	option OverloadInactTimeout             '5'
	option InactCheckInterval               '1'

config ActiveSteer 'ActiveSteer'
	option TxRateXingThreshold_UG           '30000'
	option RateRSSIXingThreshold_UG         '30'
	option TxRateXingThreshold_DG           '6000'
	option RateRSSIXingThreshold_DG         '0'

config Offload 'Offload'
	option MUAvgPeriod                      '60'
	option MUOverloadThreshold_W2           '70'
	option MUOverloadThreshold_W5           '70'
	option MUSafetyThreshold_W2             '50'
	option MUSafetyThreshold_W5             '60'
	option OffloadingMinRSSI                '20'

config StaDB 'StaDB'
	option IncludeOutOfNetwork              '1'
	option MarkAdvClientAsDualBand          '1'

config SteerExec 'SteerExec'
	option SteeringProhibitTime             '300'
	option BTMSteeringProhibitShortTime     '10'

config APSteer 'APSteer'
	option LowRSSIAPSteerThreshold_CAP      '25'
	option LowRSSIAPSteerThreshold_RE       '25'
	option LowRSSIAPSteerThreshold_CAP_W5   '25'
	option LowRSSIAPSteerThreshold_RE_W5    '25'
	option LowRSSIAPSteerThreshold_CAP_W2   '25'
	option LowRSSIAPSteerThreshold_RE_W2    '25'
	option APSteerToRootMinRSSIIncThreshold '5'
	option APSteerToLeafMinRSSIIncThreshold '10'
	option APSteerToPeerMinRSSIIncThreshold '10'
	option DownlinkRSSIThreshold_W5         '-65'

config config 'config_Adv'
	option AgeLimit                         '5'

config StaDB 'StaDB_Adv'
	option AgingSizeThreshold               '100'
	option AgingFrequency                   '60'
	option OutOfNetworkMaxAge               '300'
	option InNetworkMaxAge                  '2592000'
	option NumRemoteBSSes                   '4'
	option PopulateNonServingPHYInfo        '1'

config StaMonitor 'StaMonitor_Adv'
	option RSSIMeasureSamples_W2            '5'
	option RSSIMeasureSamples_W5            '5'

config BandMonitor 'BandMonitor_Adv'
	option ProbeCountThreshold              '1'
	option MUCheckInterval_W2               '10'
	option MUCheckInterval_W5               '10'
	option MUReportPeriod                   '15'
	option LoadBalancingAllowedMaxPeriod    '10'
	option NumRemoteChannels                '3'

config Estimator_Adv 'Estimator_Adv'
	option RSSIDiff_EstW5FromW2             '-15'
	option RSSIDiff_EstW2FromW5             '5'
	option ProbeCountThreshold              '3'
	option StatsSampleInterval              '1'
	option 11kProhibitTimeShort             '15'
	option 11kProhibitTimeLong              '15'
	option PhyRateScalingForAirtime         '50'
	option EnableContinuousThroughput       '0'
	option BcnrptActiveDuration             '50'
	option BcnrptPassiveDuration            '200'

config SteerExec 'SteerExec_Adv'
	option TSteering                        '15'
	option InitialAuthRejCoalesceTime       '2'
	option AuthRejMax                       '3'
	option SteeringUnfriendlyTime           '600'
	option MaxSteeringUnfriendly            '86400'
	option TargetLowRSSIThreshold_W2        '5'
	option TargetLowRSSIThreshold_W5        '15'
	option BlacklistTime                    '900'
	option BTMResponseTime                  '10'
	option BTMAssociationTime               '6'
	option BTMAlsoBlacklist                 '1'
	option BTMUnfriendlyTime                '310'
	option MaxBTMUnfriendly                 '600'
	option MaxBTMActiveUnfriendly           '604800'
	option MinRSSIBestEffort                '12'
	option LowRSSIXingThreshold             '10'
	option StartInBTMActiveState            '1'
	option MaxConsecutiveBTMFailuresAsActive '6'

config SteerAlg_Adv 'SteerAlg_Adv'
	option MinTxRateIncreaseThreshold       '53'
	option MaxSteeringTargetCount           '1'

config DiagLog 'DiagLog'
	option EnableLog                        '0'
	option LogServerIP                      '192.168.1.10'
	option LogServerPort                    '7788'
	option LogLevelWlanIF                   '2'
	option LogLevelBandMon                  '2'
	option LogLevelStaDB                    '2'
	option LogLevelSteerExec                '2'
	option LogLevelStaMon                   '2'
	option LogLevelEstimator                '2'
	option LogLevelDiagLog                  '2'
