config config repacd
	option Enable                           '0'
	option ManagedNetwork                   'lan'
	option DeviceType                       'RE'
	option Role                             'NonCAP'
	option REMode                           'wds'
	option BlockDFSChannels                 '0'
	option LinkCheckDelay                   '2'

config WiFiLink 'WiFiLink'
	option MinAssocCheckPostWPS             '5'
	option WPSTimeout                       '180'
	option AssociationTimeout               '300'
	option RSSINumMeasurements              '5'
	option RSSIThresholdFar                 '-75'
	option RSSIThresholdNear                '-60'
	option RSSIThresholdMin                 '-75'

config LEDState 'Reset'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'NotAssociated'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '500'
	option DelayOff_1                       '500'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'WPSInProgress'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '250'
	option DelayOff_1                       '250'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'Measuring'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '250'
	option DelayOff_1                       '250'
	option Name_2                           'led_1'
	option Trigger_2                        'timer'
	option Brightness_2                     '1'
	option DelayOn_2                        '250'
	option DelayOff_2                       '250'

config LEDState 'WPSTimeout'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '2000'
	option DelayOff_1                       '1000'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'AssocTimeout'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '5000'
	option DelayOff_1                       '1000'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'RE_MoveCloser'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'RE_MoveFarther'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'RE_LocationSuitable'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'InCAPMode'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'CL_LinkSufficient'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'CL_LinkInadequate'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'CL_ActingAsRE'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'
