<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<link rel="stylesheet" type="text/css" href="style/hijack_05_networkIssue.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_hijack_05_networkIssue.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
<script language="javascript" type="text/javascript">
var ap_mode = "<% cfg_get("ap_mode") %>";
</script>
</head>

<body>
<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>
<% save_timestamp("wizard_detwan", "hijack_toBasic")%>
<script language="javascript" type="text/javascript">var ts="<% cfg_get("hijack_toBasic") %>";</script>

<div class="wizard_content_div">


	<div class="wizard_words_div">
		
		<h1 class="h1_red"><!--netword_issue--></h1>
		
		<p><!--cannot_connect_internet--></p>
		
		<p><!--plz_reveiw_items--></p>
		<ul style="list-style:none">
				<li><!--cable_connection--></li>
				<li><!--modem_power_properly--></li>
		</ul>
		
		<div id="choices_div" class="radio_choice_divs">
			<p><!--try_again_or_manual_config--></p>
			<div class="radio_div">
				<input type="radio" name="help_choice" value="0" checked="checked" /><!--yes_mark-->
			</div>
			<div class="radio_div">
				<input type="radio" name="help_choice" value="1" /><!--no_genie_help-->
			</div>
		</div>
		
	</div>

	<div class="wizard_buttons_div" align="center">
		<div id="btnsContainer_div" class="buttons_img_div">
			<script>
			var master="<% cfg_get("http_loginname") %>";
			if( master == "admin" )
				document.write('<img src="image/ca-little-purple-button.gif" />');
			else
				document.write('<img src="image/ca-little-grey-button.png" />');
		</script>
			<div id="btn_div" class="buttons_words_div"><!--next_mark--></div>
		</div>
	</div>
	
</div>

</form>
</body>

</html>
