<% ca_http_header("style/hijack_style.css","style/hijack_ru_welcome.css", "/funcs.js", "/bas_pptp.js") %>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM>
	
<script>
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";
var pptp_serv_ip=parent.pptp_server_ipaddr;
var russian_ppp_flag=top.russian_ppp_flag;
var gui_region = "<% cfg_get("GUI_Region") %>";

function loadvalue()
{
	var form=document.forms[0];
	var wan_assign=parent.pptp_wan_assign;
	if (wan_assign == '0')
		form.DualAssign[0].checked = true;
	else
		form.DualAssign[1].checked = true;
	setIP(form);
	var ether_get_ip=parent.pptp_local_ipaddr;
	if (ether_get_ip!="")
	{
		var ip_array=ether_get_ip.split('.');
		form.myip_1.value=ip_array[0];
		form.myip_2.value=ip_array[1];
		form.myip_3.value=ip_array[2];
		form.myip_4.value=ip_array[3];
	}
	var ether_get_subnet=parent.pptp_local_netmask;
	if (ether_get_subnet!="")
	{
		var mask_array=ether_get_subnet.split('.');
		form.mymask_1.value=mask_array[0];
		form.mymask_2.value=mask_array[1];	
		form.mymask_3.value=mask_array[2];
		form.mymask_4.value=mask_array[3]; 
	}
	myip_update();
	var ether_get_gateway=parent.pptp_local_gateway;
	if (ether_get_gateway!="")
	{
		var gtw_array=ether_get_gateway.split('.');
		form.mygw_1.value=gtw_array[0];
		form.mygw_2.value=gtw_array[1];
		form.mygw_3.value=gtw_array[2];
		form.mygw_4.value=gtw_array[3];	
	}
	if(parent.pptp_dns1 == "" && parent.pptp_dns2 == "")
		form.DNSAssign[0].checked = true;
	else
		form.DNSAssign[1].checked = true;
	
	setDNS(form);
	var ether_get_dns1=parent.pptp_dns1;
	if (ether_get_dns1!="")
	{
		var dns1_array=ether_get_dns1.split('.');
		form.DAddr1.value=dns1_array[0];
		form.DAddr2.value=dns1_array[1];
		form.DAddr3.value=dns1_array[2];
		form.DAddr4.value=dns1_array[3];
	}
	var ether_get_dns2=parent.pptp_dns2;
	if (ether_get_dns2!="")
	{
		var dns2_array=ether_get_dns2.split('.');
		form.PDAddr1.value=dns2_array[0];
		form.PDAddr2.value=dns2_array[1];
		form.PDAddr3.value=dns2_array[2];
		form.PDAddr4.value=dns2_array[3];
	}
	RU_pptp_servip_update();

        //buttons left
        var btns_div1 = document.getElementById("btnsContainer_div1");
		if( master == "admin" )
		{
			btns_div1.onclick = function()
			{
                location.href="RU_manu_local_resources.htm";
			}
		}

        //buttons right
        var btns_div2 = document.getElementById("btnsContainer_div2");
		if( master == "admin" )
		{
			btns_div2.onclick = function()
			{
                RU_check_pptp_dual();
			}
		}

}
</script>

<input type="hidden" name="pptp_myip">
<input type="hidden" name="pptp_mynetmask">
<input type="hidden" name="pptp_gateway">
<input type="hidden" name="pptp_dnsaddr1">
<input type="hidden" name="pptp_dnsaddr2">
<input type="hidden" name="STATIC_DNS">
<input type="hidden" name="conflict_wanlan">

<div class="wizard_content_div">
<div class="wizard_words_div">
	
<TABLE width=100%>
<TR><TD colSpan=2><H1><script>document.write(RU_CA_head)</script></H1></TD></TR>
<TR><TD colspan=2 ><script>document.write(RU_vpn_dual_head1 + RU_vpn_dual_head2)</script></TD></TR>
<TR><TD colspan=2><br></TD></TR>
<TR><TD colspan=2 align=center><script>document.write(RU_intra_ip)</script></TD></TR>

<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DualAssign" value="0" checked onClick="setIP(document.forms[0])"><script>document.write(basic_int_autoip)</script>
	</TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DualAssign" value="1" onClick="setIP(document.forms[0])"><script>document.write(basic_int_static_ip)</script>
	</TD>
</TR>
<TR>
	<TD><script>document.write(bh_info_mark_ip)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="myip_1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onChange="myip_update();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this); RU_pptp_servip_update(event);" >.
	<input type="text" name="myip_2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onChange="myip_update();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this); RU_pptp_servip_update(event);">.
	<input type="text" name="myip_3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onChange="myip_update();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this); RU_pptp_servip_update(event);">.
	<input type="text" name="myip_4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onChange="myip_update();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this); RU_pptp_servip_update(event);">
	</TD>
</TR>
<TR>
	<TD><script>document.write(lan_mark_subnet)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="mymask_1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="mymask_2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="mymask_3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="mymask_4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>
<TR>
	<TD><script>document.write(lan_mark_gateway)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="mygw_1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="mygw_2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="mygw_3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="mygw_4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>

<TR>
	<TD colspan=2 align=center><script>document.write(basic_dns)</script></TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DNSAssign" value="0" checked onClick="setDNS(document.forms[0])"><span><script>document.write(basic_int_autodns)</script></span>
	</TD>
</TR>
<TR>
	<TD colspan=2 class="RU_radio">
	<input type="radio" name="DNSAssign" value="1" onClick="setDNS(document.forms[0])"><script>document.write(basic_int_these)</script>
	</TD>
</TR>
<TR>
	<TD nowrap><script>document.write(basic_int_primary_dns)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="DAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="DAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD nowrap><script>document.write(basic_int_second_dns)</script></TD>
	<TD nowrap align=right>
	<input type="text" name="PDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="PDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">	
	</TD>
</TR>

<TR><TD colspan=2><br></TD></TR>

</TABLE>
</div><!--wizard_words_div -->
<div id="center_buttons">
  <div id="allBtns_div" class="wizard_buttons_div" align="center">
                <div id="btnsContainer_div1" class="buttons_img_div" align="center">
                         <script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							document.write('<img src="image/ca-little-grey-button.png" />');
                        </script>
                        <div class="buttons_words_div"><script>document.write(RU_back)</script></div>
                </div>
                <div class="buttons_split"></div>
                <div id="btnsContainer_div2" class="buttons_img_div" align="center">
						<script>
						var master="<% cfg_get("http_loginname") %>";
						if( master == "admin" )
							document.write('<img src="image/ca-little-purple-button.gif" />');
						else
							
							document.write('<img src="image/ca-little-grey-button.png" />');
						</script>
                        <div class="buttons_words_div"><script>document.write(RU_next)</script></div>
                </div>
  </div><!--allBtns_div -->
</div>
</div><!--wizard_content_div -->
<script>scroll_show();</script>
</FORM>
</BODY>
</HTML>
