body{ background: url(../image/oneline.gif) 0 -80px repeat-x #e5e5e5; margin:auto; }/* to fix bug  23323 */

.container_center{_width: 1440px; min-width: 820px; min-height:460px; _height: 800px; position:absolute; top:97px; bottom:0; left: 20px; right: 20px; }
#top{_width: 1440px; min-width: 820px; height: 97px; position: absolute; left: 20px; right: 20px; }
#topframe{width: 100%; height: 97px; }

#middle{ width: 100%; min-height:455px; _height: 795px; position:absolute; top:5px; bottom:0px; left: 0; right: 0; }

#menu{ float: left; width: 195px; font-family: Arial; text-align: left; position:absolute; top:0; bottom:45px;}
.menu_common_words{ font-weight: Bold; font-size: 15px;}
.menu_ie9_words{ font-weight: 350; font-size: 14.8px;}
#menu .basic_button{margin-bottom: 5px;  width: 190px; height: 29px; background:url(../image/menus.gif) no-repeat -736px -70px; color: #4e4e4e;cursor:pointer; position: relative}
#menu .basic_button_mid{margin-bottom: 5px;  width: 190px; height: 44px; background:url(../image/menus.gif) no-repeat -720px -128px;color: #4e4e4e;cursor:pointer; position: relative }
#menu .basic_button_big{margin-bottom: 5px;  width: 190px; height: 56px; background:url(../image/menus.gif) no-repeat -380px -254px;color: #4e4e4e;cursor:pointer; position: relative }
#menu .basic_button_grey{margin-bottom: 5px;  width: 190px; height: 29px;background:url(../image/menus.gif) no-repeat -546px -70px;color: #808080; position: relative}
#menu .basic_button_mid_grey{margin-bottom: 5px;  width: 190px; height: 44px; background:url(../image/menus.gif) no-repeat -340px -128px;color: #4e4e4e; position: relative }
#menu .basic_button_big_grey{margin-bottom: 5px;  width: 190px; height: 56px; background:url(../image/menus.gif) no-repeat -0px -254px;color: #4e4e4e; position: relative }
#menu .basic_button_purple{margin-bottom: 5px;  width: 190px; height: 29px;background:url(../image/menus.gif) no-repeat -546px -99px;color: #ffffff; position: relative}
#menu .basic_button_mid_purple{margin-bottom: 5px;  width: 190px; height: 44px; background:url(../image/menus.gif) no-repeat -530px -128px;color: #ffffff; position: relative}
#menu .basic_button_big_purple{margin-bottom: 5px;  width: 190px; height: 56px; background:url(../image/menus.gif) no-repeat -190px -254px;color: #ffffff; position: relative}
#menu .basic_button_green{margin-bottom: 5px;  width: 190px; height: 29px; background:url(../image/menus.gif) no-repeat -530px -200px; color: #000000;cursor:pointer; position: absolute; bottom:5px}
#menu .basic_button_mid_green{margin-bottom: 5px;  width: 190px; height: 44px; background:url(../image/menus.gif) no-repeat -340px -172px;color: #000000;cursor:pointer; position: absolute; bottom:5px }
#menu .basic_button_big_green{margin-bottom: 5px;  width: 190px; height: 56px; background:url(../image/menus.gif) no-repeat -570px -254px;color: #000000;cursor:pointer; position: absolute; bottom:5px }

#menu span{ display:-moz-inline-box; display:inline-block; width:160px; top: 6px; left: 6px; position: absolute; line-height: 16px;}

dl{ margin: 0px; padding: 5px 0 8px 0; float: left; position: absolute }
.sub_men{ margin-left: 12px; height:90px; width:170px; font-family: Arial; font-weight: normal; font-size: 12px; text-align: left; overflow:hidden; position:relative}
#setup_sub span{display:-moz-inline-box; display:inline-block; width:160px; top: 0px; left: 6px; position: relative; line-height: 16px; text-decoration: underline }
.sub_men  .sub_back{ margin:5px auto; width: 140px; height: 14px; cursor:pointer; float: left; position: relative }
.sub_men  .sub_back a{line-height:14px; top: 0px; left: 15px; float: left; position: absolute }
.sub_men  .sub_back_purple{ margin-top:5px; height: 26px; width: 170px;background:url(../image/menus.gif) no-repeat -736px -99px;cursor:pointer; float: left; position: relative }
.sub_men  .sub_back_purple a{top:6px; left:15px; width: 140px; line-height:14px; float: left; position: absolute}

.sub_men .middle_name{margin:5px auto; width: 140px; height: 28px; cursor:pointer; float: left; position: relative }
.sub_men .middle_name a{line-height:14px; top: 0px; left: 15px; float: left; position: absolute;}
.sub_men .long_name{ margin:5px auto; width: 140px; height: 42px; cursor:pointer; float: left; position: relative }
.sub_men .long_name a{line-height:14px; top: 0px; left: 15px; float: left; position: absolute }
.sub_men .sub_back_purple_double{height: 38px;width:170px;background:url(../image/menus.gif) no-repeat 0 -128px;cursor:pointer; float: left; position: relative}
.sub_men .sub_back_purple_triple{height: 52px;width:170px;background:url(../image/menus.gif) no-repeat -170px -128px;cursor:pointer; float: left; position: relative }
.sub_men .sub_back_purple_double a, .sub_men .sub_back_purple_triple a {line-height:14px; top: 5px; left: 15px; width: 140px; float: left; position: absolute;}

.sub_men .sub_back a, .sub_men .middle_name a, .sub_men  .long_name a { color:  #4c4c4c;}
.sub_men .sub_back_purple a, .sub_men  .sub_back_purple_double a, .sub_back_purple_triple a { color: #ffffff;}

.sub_men .sub_grey{margin:5px auto; width: 140px; height: 14px; cursor:pointer; color:#808080; float: left; position: relative}
.sub_men .sub_grey a{float: left; position:absolute; left: 15px; top: 0px; line-height: 14px;}
.sub_men .middle_grey{ margin: 5px auto; width: 140px; height: 28px; cursor:pointer; color:#808080; float: left; position: relative;}
.sub_men .middle_grey a{ float: left; position:absolute; top: 0px; left: 15px; line-height: 14px;}
.sub_men .long_grey{ margin: 5px auto; width: 140px; height: 42px; cursor:pointer; color:#808080; float: left; position: relative;}
.sub_men .long_grey a{ float: left; position:absolute; top: 0px; left: 15px; line-height: 14px;}

#internet_bt span{display:-moz-inline-box; display:inline-block; width:140px; position: absolute; left: 6px; line-height:15px; top: 6px;}
#internet_sub span{display:-moz-inline-box; display:inline-block; width:160px; top: 0px; left: 6px; position: relative; line-height: 14px; text-decoration: underline}

.advanced_white_open_button{margin-bottom: 5px;  width: 190px; height: 29px;background:url(../image/menus.gif) no-repeat -530px -172px; color: #4c4c4c;cursor:pointer; position: relative}
.advanced_white_open_button_double{margin-bottom: 5px;  width: 190px; height: 44px;background:url(../image/menus.gif) no-repeat -720px -172px; color: #4c4c4c;cursor:pointer; overflow:hidden; position: relative }

.advanced_white_close_button{margin-bottom: 5px;  width: 190px; height: 28px; background:url(../image/menus.gif) no-repeat -736px -70px;color: #4c4c4c;cursor:pointer; position: relative }
.advanced_white_close_button_double{margin-bottom: 5px;  width: 182px; height: 42px;background:url(../image/menus.gif) no-repeat -546px -28px;color: #4c4c4c;cursor:pointer; overflow:hidden; position: relative}

.advanced_white_open_button span, .advanced_white_close_button span, .advanced_white_open_button_double span, .advanced_white_close_button_double span{ display:-moz-inline-box; display:inline-block; width:140px; position: absolute; left: 20px; line-height:15px; top: 6px;}

#formframe_div{float: left; min-width: 625px; _width: 1245px; position:absolute; top:0; bottom:45px; left:200px; right: 0; }
#formframe{float: left; position:absolute; top:0; bottom:45px; overflow: hidden;}

.footer{ width: 100%; height: 43px; float: left; color: #ffffff; position:absolute; bottom:0; }
.footer_double{ width: 100%; height: 86px; color: #ffffff; position:absolute; bottom:0; }
.footer_img { width: 100%; height: 100%; }
.footer b, .footer_double b{font: bold 16px arial;}
.footer a, .footer_double a{ color: #ffffff; font: normal 11px arial; text-decoration: none;}

.footer #support{ float:left; line-height: 42px; position: absolute; left: 10px; top: 0; }
.footer_double #support{ line-height: 42px; position: absolute; left: 10px; top: 0;}
.footer #search{ float: right; position: absolute; top: 10px; right: 10px;}
.footer_double #search{ float: right; position: absolute; bottom: 10px; right: 10px;}

#footer #search .search_button{background: Transparent url(../image/menus.gif ) no-repeat 0px -192px; border: none; width:39px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_middle{background: Transparent url(../image/menus.gif ) no-repeat -39px -192px; border: none; width:65px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_long{background: Transparent url(../image/menus.gif ) no-repeat -104px -192px; border: none; width:95px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
