<% http_header("style/form.css", "/funcs.js", "/passwd.js") %>
<% body_header("_passwd", "PWD_password.htm", "passwd") %>
<input type="hidden" name="hidden_enable_recovery">
<script>
var rec_time="<% cfg_sed_xss("password_recovered_timestamp") %>";
var gui_region="<% cfg_get("GUI_Region") %>";
if( rec_time != "" )
{
	ec_time=change_cur_time(rec_time,gui_region);
}
</script>
<div class="page_title" id="page_title">$passwd_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'PWD_password.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="return checkpasswd(document.forms[0])"></TD>');
else
	document.write(' <TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>
       
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<TR>
	<TD nowrap>$passwd_curpas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysOldPasswd" id="sys_old_passwd" value="" >
	</TD>
</TR>
<TR>
	<TD nowrap>$passwd_setpas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysNewPasswd" id="sys_new_passwd" onFocus="this.select();" >
	</TD>
</TR>
<TR>
	<TD nowrap>$passwd_repas</TD>
	<TD nowrap>
	<input type="password" autocomplete="off" size="20" name="sysConfirmPasswd" id="sys_confirm_passwd" onFocus="this.select();" >
	</TD>
</TR>

<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="enable_recovery" id="enable_recovery"  onClick="change_password_recovery()" > $enable_password_recovery
	</TD>
</TR>
<TR id="q1" style="display:none;">
	<TD nowrap align="right">$security_question_1*:</TD>
	<TD nowrap align="left">
	<select  name="question1" id="question1" size=1 >
		<option value="0" selected>$select_a_question</option>
		<option value="1">$quest1_1</option>
		<option value="2">$quest1_2</option>
                <option value="3">$quest1_3</option>
                <option value="4">$quest1_4</option>
                <option value="5">$quest1_5</option>
                <option value="6">$quest1_6</option>
                <option value="7">$quest1_7</option>
                <option value="8">$quest1_8</option>
                <option value="9">$quest1_9</option>
	</select>
	</TD>
</TR>
<TR id="a1" style="display:none;">
	<TD nowrap align="right">$answer*:</TD>
	<TD nowrap  align="left">
	<input type="text" autocomplete="off" maxLength="64" size="30" name="answer1" id="answer1"  onFocus="this.select();" >
	</TD>
</TR>
<TR id="q2" style="display:none;">
	<TD nowrap align="right">$security_question_2*:</TD>
	<TD nowrap align="left">
	<select  name="question2" id="question2" size=1>
		<option value="0" selected>$select_a_question</option>
                <option value="1">$quest2_1</option>
                <option value="2">$quest2_2</option>
                <option value="3">$quest2_3</option>
                <option value="4">$quest2_4</option>
                <option value="5">$quest2_5</option>
                <option value="6">$quest2_6</option>
                <option value="7">$quest2_7</option>
                <option value="8">$quest2_8</option>
	</select>
	</TD>
</TR>
<TR id="a2" style="display:none;">
	<TD nowrap align="right">$answer*:</TD>
	<TD nowrap  align="left">
	<input type="text" autocomplete="off" maxLength="64" size="30" name="answer2" id="answer2" onFocus="this.select();" >
	</TD>
</TR>
<TR id="req" style="display:none;">
        <TD nowrap align="right">$required_information</TD>
        <TD nowrap  align="left">
        </TD>
</TR>
<TR id="time" style="display:none;">
        <TD nowrap colspan=2>
        $last_time_password_was_recovered: <b><script>document.write(rec_time)</script></b>
        </TD>
</TR>

$bluebar
</TABLE>
</div>
<% help_box("0","_passwd") %>
</FORM>
</BODY>
<script>
function loadvalue()
{
	cf = document.forms[0];

	enable_rec="<% cfg_get("enable_password_recovery") %>";
	ques1="<% cfg_get("PWD_question1") %>";
	answ1="<% cfg_sed_xss("PWD_answer1") %>";
	ques2="<% cfg_get("PWD_question2") %>";
	answ2="<% cfg_sed_xss("PWD_answer2") %>";

	if(ques1=="")/*bug 30097 The default setting for Security Question #1 and #2 item in GUI is wrong by IE browser*/
		ques1="0";
	if(ques2=="")
		ques2="0";
	
	if( enable_rec == "1" )
		cf.enable_recovery.checked=true;
		
	else
		cf.enable_recovery.checked=false;

	change_password_recovery();

	cf.question1.value=ques1;
	cf.answer1.value=answ1.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&").replace(/&#92;/g, "\\");
	cf.question2.value=ques2;
	cf.answer2.value=answ2.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&").replace(/&#92;/g, "\\");	
}

function change_password_recovery()
{
	cf = document.forms[0];
	 if( cf.enable_recovery.checked == true )
        {
                document.getElementById("q1").style.display="";
                document.getElementById("a1").style.display="";
                document.getElementById("q2").style.display="";
                document.getElementById("a2").style.display="";
		document.getElementById("req").style.display="";
                document.getElementById("time").style.display="";

        }
        else
        {
                document.getElementById("q1").style.display="none";
                document.getElementById("a1").style.display="none";
                document.getElementById("q2").style.display="none";
                document.getElementById("a2").style.display="none";
		document.getElementById("req").style.display="none";
                document.getElementById("time").style.display="none";

        }

}

</script>
</HTML>
